<div class="modal-header">
  <h4 class="modal-title">Новое разрешение на строительство</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" [ngClass]="{'show-errors': showErrors}">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">№ разрешения на строительство<span
            class="our-mandatory">*</span></label>
        <div class="col-lg-7 m-b-sm" *ngIf="RNSList.length === 0">
          <input [(ngModel)]="buildingPermit.permitNumber" name="buildingPermit" type="text"
            class="form-control our-control " required>
        </div>
        <div class="col-lg-7 m-b-sm" *ngIf="RNSList.length !== 0">
          <ng-select [(ngModel)]="buildingPermit.permitNumber" name="buildingPermit" [items]="RNSList"
            [multiple]="false" [closeOnSelect]="true" [hideSelected]="true" required
            [placeholder]="'№ разрешения на строительство'" class="our-select">
          </ng-select>
        </div>
      </div>
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">Дата выдачи<span class="our-mandatory">*</span></label>
        <div class="col-lg-7 m-b-sm">
          <cdp-ngx-date-select [(ngModel)]="buildingPermit.permitDate" [model]="buildingPermit.permitDate" required>
          </cdp-ngx-date-select>
        </div>
      </div>
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">Наименование органа (организации), выдавшего разрешение
          на строительство<span class="our-mandatory">*</span></label>
        <div class="col-lg-7 m-b-sm">
          <textarea [(ngModel)]="buildingPermit.permitDistributor" name="permitDistributor" type="text" rows="3"
            cols="50" required class="form-control our-control"></textarea>
        </div>
      </div>
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">Первоначальный срок действия разрешения на
          строительство<span class="our-mandatory">*</span></label>
        <div class="col-lg-7 m-b-sm">
          <cdp-ngx-date-select [(ngModel)]="buildingPermit.periodOfValidity" [model]="buildingPermit.periodOfValidity"
            required> </cdp-ngx-date-select>
        </div>
      </div>
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">Дата внесения изменений</label>
        <div class="col-lg-7 m-b-sm">
          <cdp-ngx-date-select [(ngModel)]="buildingPermit.lastProlongationPermitDate"
            [model]="buildingPermit.lastProlongationPermitDate"> </cdp-ngx-date-select>
        </div>
      </div>
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">Краткое описание внесенных изменений</label>
        <div class="col-lg-7 m-b-sm">
          <textarea [(ngModel)]="buildingPermit.description" name="description" type="text" rows="3" cols="50"
            class="form-control our-control"></textarea>
        </div>
      </div>
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">Информация о продлении срока действия, новый срок
          действия разрешения на строительство</label>
        <div class="col-lg-7 m-b-sm">
          <cdp-ngx-date-select [(ngModel)]="buildingPermit.newDate" [model]="buildingPermit.newDate">
          </cdp-ngx-date-select>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="activeModal.hide()">Закрыть</button>
    <button type="button" class="btn btn-primary" (click)="add()">Сохранить</button>
  </div>
</div>