<div class="modal-header">
  <h4 class="modal-title">Сводная накопительная ведомость</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" [ngClass]="{'show-errors': showErrors}">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">
          Номер разрешения на строительство<span class="our-mandatory">*</span>
        </label>
        <div class="col-lg-7 m-b-sm">
          <ng-select [(ngModel)]="consolidatedCumulativeSheet.SheetBuildingPermit" name="buildingPermit"
            [items]="buildingPermits" [multiple]="false" [closeOnSelect]="true" [hideSelected]="true" required
            bindLabel="permitNumber" (ngModelChange)="onChangeSheetBuildingPermit($event)"
            [placeholder]="'Номер разрешения на строительство'" class="our-select">
          </ng-select>
        </div>
      </div>
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">Проект строительства<span
            class="our-mandatory">*</span></label>
        <div class="col-lg-7 m-b-sm">
          <textarea [(ngModel)]="consolidatedCumulativeSheet.sheetBuildingProject" name="sheetBuildingProject"
          required
            type="text" rows="3" cols="50" class="form-control our-control"></textarea>
        </div>
      </div>
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">по адресу<span class="our-mandatory">*</span></label>
        <div class="col-lg-7 m-b-sm">
          <textarea [(ngModel)]="consolidatedCumulativeSheet.sheetBuildingAddress" name="sheetBuildingAddress"
          required
            type="text" rows="3" cols="50" class="form-control our-control"></textarea>
        </div>
      </div>
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">общая площадь, кв.м<span
            class="our-mandatory">*</span></label>
        <div class="col-lg-7 m-b-sm">
          <input [(ngModel)]="consolidatedCumulativeSheet.sheetBuildingArea" name="sheetBuildingArea" type="text"
          required
            mask="0*.9*" [dropSpecialCharacters]="false" class="form-control our-control">
        </div>
      </div>
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">продолжительность строительства, мес.<span
            class="our-mandatory">*</span></label>
        <div class="col-lg-7 m-b-sm">
          <input [(ngModel)]="consolidatedCumulativeSheet.sheetConstructionTime" name="sheetConstructionTime"
          required
            type="text" mask="0*.9*" [dropSpecialCharacters]="false" class="form-control our-control">
        </div>
      </div>
    </div>

    <app-consolidated-cumulative-table [tableData]="consolidatedCumulativeSheet.sheetRow" #tableData></app-consolidated-cumulative-table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="activeModal.hide()">Закрыть</button>
    <button type="button" class="btn btn-primary" (click)="add()">Сохранить</button>
  </div>
</div>
