<div class="modal-header">
  <h4 class="modal-title">Сведения о кредитной организации</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" [ngClass]="{'show-errors': showErrors}">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">наименование кредитной организации, предоставившей
          кредитные (заемные) средства на строительство (создание) объекта недвижимости</label>
        <div class="col-lg-7 m-b-sm">
          <input [(ngModel)]="creditOrganization.creditOrganizationName" name="creditOrganizationName" type="text"
            class="form-control our-control">
        </div>
      </div>
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">ИНН кредитной организации, предоставившей кредитные
          (заемные) средства на строительство (создание) объекта недвижимости</label>
        <div class="col-lg-7 m-b-sm">
          <input [(ngModel)]="creditOrganization.creditOrganizationINN" name="creditOrganizationINN" type="text"
            [ngClass]="{'forInn': redForm}" mask="000000000099"
            class="form-control our-control">
        </div>
      </div>
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">общий объем привлеченных средств (млн. рублей)<span
            class="our-mandatory">*</span></label>
        <div class="col-lg-7 m-b-sm">
          <input [(ngModel)]="creditOrganization.amountBorrowing" name="amountBorrowing" type="text" mask="0*.009*"
            [dropSpecialCharacters]="false" (blur)="validateLongFloat($event)" required
            class="form-control our-control">
        </div>
      </div>
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">объем кредитных (заемных) средств (млн. рублей),
          привлеченных до заключения застройщиком договора с первым участником долевого строительства</label>
        <div class="col-lg-7 m-b-sm">
          <input [(ngModel)]="creditOrganization.beforeBorrowing" name="beforeBorrowing" type="text" mask="0*.009*"
            [dropSpecialCharacters]="false" (blur)="validateLongFloat($event)" class="form-control our-control">
        </div>
      </div>
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">объем кредитных (заемных) средств (млн. рублей),
          привлеченных после заключения застройщиком договора с первым участником долевого строительства</label>
        <div class="col-lg-7 m-b-sm">
          <input [(ngModel)]="creditOrganization.afterBorrowing" name="afterBorrowing" type="text" mask="0*.009*"
            [dropSpecialCharacters]="false" (blur)="validateLongFloat($event)" class="form-control our-control">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="activeModal.hide()">Закрыть</button>
    <button type="button" class="btn btn-primary" (click)="add()">Сохранить</button>
  </div>
</div>
