<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title" [innerHTML]="title">
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" [innerHTML]="message">

</div>