<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    <div style="color: rgb(255, 0, 0);">Некорректно заполнены обязательные поля.</div>
    <div>Ознакомьтесь с правилами заполнения данных формы:</div>
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="first-tab-instructions">
    <h3>Раздел "1. Общая информация"</h3>
    <div class="general-information" *ngIf="showGeneralInformationError">
      <div>
        I. Сведения о застройщике, осуществляющем деятельность, связанную с привлечением денежных средств участников
        долевого строительства для строительства (создания) многоквартирных домов и (или) иных объектов недвижимости
      </div>
      <ul>
        <li>Пункты с 1-го по 7-й включительно обязательны для заполнения.</li>
      </ul>
    </div>
    <div class="annex-two-instruction" *ngIf="showAppendix2Error">
      <div>
        II. Сведения о многоквартирном доме и (или) ином объекте недвижимости, строящемся (создаваемом) застройщиком с
        привлечением денежных средств участников долевого строительства
      </div>
      <ul>
        <li>
          Пункт 14 доступен для ввода данных при наличии разрешения на ввод в эксплуатацию объекта недвижимости,
          завершенного строительства т.е. заполненных данных в п.17.
          При отсутствии разрешения на ввод в эксплуатацию объекта строительства данные, в автоматическом режиме,
          дублируются из п.13 и не подлежат изменению.
        </li>
        <li>
          Поля, содержащие числовые значения в виде денежных единиц, заполняются целочисленными значениями, содержащими
          минимум 2 знака после разделителя (100.00).
        </li>
        <li>
          Если дата в п.13. подп.1 «дата заключения первого договора» равна или превышает 01.01.2014, то п.18, 19, 20
          данной формы, обязательны к заполнению.
        </li>
        <li>
          Блок «Примерный график реализации проекта строительства и своих обязательств по договорам участия в долевом
          строительстве»:
          <ul>
            <li>Должна быть заполнена информация по графикам работ для пунктов с 1-го по 9-й.</li>
            <li>Внесение % фактически выполненных работ за отчетный квартал обязательно, при условии, что работы не
              выполнены на 100% в предыдущих периодах.</li>
            <li>Изменение ранее введенных данных по планируемым и фактически выполненным работам невозможно.</li>
            <li>Обязательные к заполнению поля отмечены*.</li>
            <li>При попытке сохранения или перехода на следующий шаг неверно заполненные поля подсвечиваются красным.
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>