<div class="modal-header">
  <h4 class="modal-title">Сведения об объекте недвижимости</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" [ngClass]="{'show-errors': showErrors}">
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group">
        <label>1. Наименование объекта недвижимости (в соответствии с разрешением на строительство)</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">Вид объекта недвижимости<span
            class="our-mandatory">*</span></label>
        <div class="col-lg-7 m-b-sm">
          <input [(ngModel)]="appendix2.realEstateKind" name="Appendix2srealEstateKind" type="text" required
            class="form-control our-control required">
        </div>
      </div>
    </div>
  </div>
  <div>
    <div>
      <div class="form-group">
        <label>2. Местоположение объекта недвижимости (строительный адрес)<span class="our-mandatory">*</span></label>
        <input [(ngModel)]="appendix2.placeObject" name="Appendix2splaceObject" type="text" required
          class="form-control required">
      </div>
      <div class="form-group">
        <label>3. Информация о праве на земельный участок, предоставленный для строительства (создания) объекта
          недвижимости</label>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <label class="col-lg-5 control-label our-control-label" style="padding-top: 15px;">Кадастровые (условные)
            номера<span class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <div class="table-responsive">
              <table class="table table-hover table-borderless" style="background: #fff;">
                <tbody>
                  <tr
                    *ngFor="let cadastralNumber of appendix2.cadastralNumber; index as i; trackBy: trackCadastralNumber; last as last">
                    <td>
                      <input *ngIf="i<(appendix2.cadastralNumber.length-1)" [(ngModel)]="appendix2.cadastralNumber[i]" type="text" name="cn{{i}}" required
                        pattern="\d{1,2}:\d{1,2}:\d{1,7}(:\d{0,7})?" placeholder="_:_:_:"
                        data-inputmask="'mask': '9{1,2}:9{1,2}:9{1,7}:9{0,7}'"
                        (ngModelChange)="checkEmptyCadastralNumber()" (paste)="onPasteCadastralNumber(i, $event)"
                        class="form-control our-control input-cadastral-number">
                      <input *ngIf="i>(appendix2.cadastralNumber.length-2)" [(ngModel)]="appendix2.cadastralNumber[i]" type="text" name="cn{{i}}"
                             pattern="\d{1,2}:\d{1,2}:\d{1,7}(:\d{0,7})?" placeholder="_:_:_:"
                             data-inputmask="'mask': '9{1,2}:9{1,2}:9{1,7}:9{0,7}'"
                             (ngModelChange)="checkEmptyCadastralNumber()" (paste)="onPasteCadastralNumber(i, $event)"
                             class="form-control our-control input-cadastral-number">
                    </td>
                    <td>
                      <button class="btn btn-default" (click)="removeCadastralNumber(i)" *ngIf="!last">
                        <i class="fa fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="row">
          <label class="col-lg-5 control-label our-control-label">Вид права<span class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <ng-select [(ngModel)]="appendix2.rightKind" name="Appendix2srightKind" [items]="rightKinds"
              [multiple]="false" [closeOnSelect]="true" [hideSelected]="true" bindLabel="name" bindValue="name" required
              [placeholder]="'Вид права'" class="our-select">
            </ng-select>
          </div>
        </div>

        <div class="row">
          <label class="col-lg-5 control-label our-control-label">
            Номер договора<span *ngIf="appendix2.rightKind !== 'Собственность'" class="our-mandatory">*</span>
          </label>
          <div class="col-lg-7 m-b-sm" *ngIf="appendix2.rightKind !== 'Собственность'">
            <input [(ngModel)]="appendix2.contractNumber" name="Appendix2scontractNumber" type="text" required
              class="form-control our-control">
          </div>
          <div class="col-lg-7 m-b-sm" *ngIf="appendix2.rightKind === 'Собственность'">
            <input [(ngModel)]="appendix2.contractNumber" name="Appendix2scontractNumber" type="text"
              class="form-control our-control">
          </div>
        </div>

        <div class="row">
          <label class="col-lg-5 control-label our-control-label">
            Дата подписания договора<span *ngIf="appendix2.rightKind !== 'Собственность'" class="our-mandatory">*</span>
          </label>
          <div class="col-lg-7 m-b-sm" *ngIf="appendix2.rightKind !== 'Собственность'">
            <cdp-ngx-date-select [(ngModel)]="appendix2.contractDate" [model]="appendix2.contractDate" required
                                 >
            </cdp-ngx-date-select>
          </div>
          <div class="col-lg-7 m-b-sm" *ngIf="appendix2.rightKind === 'Собственность'">
            <cdp-ngx-date-select [(ngModel)]="appendix2.contractDate" [model]="appendix2.contractDate"
                                 >
            </cdp-ngx-date-select>
          </div>
        </div>

        <div class="row">
          <label class="col-lg-5 control-label our-control-label">Период действия (дата прекращения права)</label>
          <div class="col-lg-7 m-b-sm">
            <cdp-ngx-date-select [(ngModel)]="appendix2.endRightDate" [model]="appendix2.endRightDate"
                                 >
            </cdp-ngx-date-select>
          </div>
        </div>

        <div class="row">
          <label class="col-lg-5 control-label our-control-label">Дата записи о регистрации права на земельный участок
            в Едином государственном реестре недвижимости</label>
          <div class="col-lg-7 m-b-sm">
            <cdp-ngx-date-select [(ngModel)]="appendix2.egrnDate" [model]="appendix2.egrnDate"
                                 > </cdp-ngx-date-select>
          </div>
        </div>

        <div class="row">
          <label class="col-lg-5 control-label our-control-label">Номер записи о регистрации права на земельный
            участок в Едином государственном реестре недвижимости</label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.egrn" name="Appendix2segrn" type="text" class="form-control our-control"
                   >
          </div>
        </div>

      </div>
    </div>
    <div>
      <div class="form-group">
        <label>4. Информация о разрешении на строительство (создание): номер, дата выдачи, кем выдано</label>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <button type="button" class="btn btn-primary m-t-xs" (click)="addBuildingPermit()">Добавить
            сведения</button>
          <div class="table-responsive m-t-md" *ngIf="appendix2.buildingPermits.length">
            <table class="table table-hover" style="background: #fff;">
              <thead>
                <tr style="font-size: 11px;">
                  <th width="180px">№, дата</th>
                  <th>Наименование органа (организации), выдавшего разрешение
                    на строительство</th>
                  <th>Первоначальный срок действия</th>
                  <th>Дата внесения изменений</th>
                  <th>Краткое описание внесенных изменений</th>
                  <th>Новый срок действия</th>
                  <th width="1"></th>
                  <th width="1"></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let buildingPermit of appendix2.buildingPermits; index as i;">
                  <td>{{buildingPermit.permitNumber}}<br>от {{buildingPermit.permitDate | date: "dd.MM.yyyy"}}</td>
                  <td>{{buildingPermit.permitDistributor}}</td>
                  <td>{{buildingPermit.periodOfValidity | date:"dd.MM.yyyy"}}</td>
                  <td>{{buildingPermit.lastProlongationPermitDate | date: "dd.MM.yyyy"}}</td>
                  <td>{{buildingPermit.description}}</td>
                  <td>{{buildingPermit.newDate | date: "dd.MM.yyyy"}}</td>
                  <td>
                    <button class="btn btn-default" (click)="editBuildingPermit(i)">
                      <i class="fa fa-pencil"></i>
                    </button>
                  </td>
                  <td>
                    <button class="btn btn-default" (click)="removeBuildingPermit(i)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="form-group">
        <label>5. Общее количество самостоятельных частей в составе объекта недвижимости, в отношении которых могут
          заключаться договора участия в долевом строительстве</label>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">5.1 жилые помещения (шт.)<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.numberOfLivingQuarters" name="Appendix2snumberOfLivingQuarters" mask="0*"
              required (ngModelChange)="calcNumberOfIndParts()" class="form-control our-control">
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">5.2 площадь жилых помещений (кв.м)<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.areaOfLivingQuarters" name="Appendix2sareaOfLivingQuarters" mask="0*.9*"
              required [dropSpecialCharacters]="false" (ngModelChange)="calcAreaOfIndParts()"
              class="form-control our-control">
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">5.3 нежилые полмещения (шт.)<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.numberOfNonLivingQuarters" name="Appendix2snumberOfNonLivingQuarters" required
              (ngModelChange)="calcNumberOfIndParts()" mask="0*" class="form-control our-control">
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">5.4 площадь нежилых помещений (кв.м.)<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.areaOfNonLivingQuarters" name="Appendix2sareaOfNonLivingQuarters" mask="0*.9*"
              required [dropSpecialCharacters]="false" (ngModelChange)="calcAreaOfIndParts()"
              class="form-control our-control">
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">5.5 машино-места (шт.)<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.numberOfCarPark" name="Appendix2snumberOfCarPark" required
              (ngModelChange)="calcNumberOfIndParts()" mask="0*" class="form-control our-control">
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">5.6 площадь машино-мест (кв.м)<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.areaOfCarPark" name="Appendix2sareaOfCarPark" [dropSpecialCharacters]="false"
              required (ngModelChange)="calcAreaOfIndParts()" mask="0*.9*" class="form-control our-control">
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">общее количество самостоятельных частей
            (шт.)</label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.numberOfIndParts" name="Appendix2snumberOfIndParts"
              class="form-control our-control" disabled>
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">общая площадь самостоятельных частей (кв.м.)</label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.areaOfIndParts" name="Appendix2sareaOfIndParts"
              class="form-control our-control" disabled>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="form-group">
        <label>6. Планируемая стоимость строительства (создания) объекта недвижимости, указанная в проектной декларации
          (далее - проектная стоимость строительства) по состоянию на дату получения заключения о соответствии
          застройщика и проектной декларации требованиям законодательства о долевом строительстве (млн. рублей)<span
            class="our-mandatory">*</span></label>
        <input [(ngModel)]="appendix2.estimatedCost" name="Appendix2sestimatedCost" type="text" mask="0*.009*"
          [dropSpecialCharacters]="false" required (blur)="validateLongFloat($event)" class="form-control required"
              >
      </div>
      <div class="form-group">
        <label>7. Проектная стоимость по состоянию на первую каледарную дату отчетного периода (млн. рублей)<span
            class="our-mandatory">*</span></label>
        <input [(ngModel)]="appendix2.projectCost" name="Appendix2sprojectCost" type="text" mask="0*.009*"
          [dropSpecialCharacters]="false" (blur)="validateLongFloat($event)" required class="form-control required"
               >
      </div>
      <div class="form-group">
        <label>8. Изменение проектной стоимости строительства за отчетный период (млн. рублей)</label>
        <input [(ngModel)]="appendix2.changeCost" name="Appendix2schangeCost" type="text" mask="0*.009*"
          [dropSpecialCharacters]="false" (blur)="validateLongFloat($event)" class="form-control"
               >
      </div>
      <div class="form-group">
        <label>9. Проектная стоимость строительства на последную дату отчетного периода (млн. рублей)<span
            class="our-mandatory">*</span></label>
        <input [(ngModel)]="appendix2.reportCost" name="Appendix2sreportCost" type="text" mask="0*.009*"
          [dropSpecialCharacters]="false" (blur)="validateLongFloat($event)" required class="form-control required"
               >
      </div>
    </div>
    <div>
      <div class="form-group">
        <label>10. Фактически понесенные застройщиком расходы по реализации проекта строительства по состоянию на
          отчетную дату, всего (млн. рублей), из них: <span class="our-mandatory">*</span></label>
        <input [(ngModel)]="appendix2.sumCost" name="Appendix2ssumCost" type="text" mask="0*.009*"
          [dropSpecialCharacters]="false" (blur)="validateLongFloat($event)" required class="form-control required"
               >
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">10.1 общая фактическая стоимость строительства (млн.
            рублей)<span class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.totalCost" name="Appendix2stotalCost" mask="0*.009*"
              [dropSpecialCharacters]="false" required (blur)="validateLongFloat($event)"
              class="form-control required our-control">
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">10.2 размер выданных подрядчикам и поставщикам авансов
            (млн. рублей)<span class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.contractorsCost" name="Appendix2scontractorsCost" mask="0*.009*"
              [dropSpecialCharacters]="false" (blur)="validateLongFloat($event)" required
              class="form-control required our-control">
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">10.3 размер денежных средств на оплату услуг
            застройщика (млн. рублей)<span class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.developerCost" name="Appendix2sdeveloperCost" mask="0*.009*"
              [dropSpecialCharacters]="false" (blur)="validateLongFloat($event)" required
              class="form-control required our-control">
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">10.4 стоимость оплаченных запасов, относящихся к
            строительству (созданию) объекта недвижимости и находящихся на складе (млн. рублей)<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.paidStockCost" name="Appendix2spaidStockCost" mask="0*.009*"
              [dropSpecialCharacters]="false" (blur)="validateLongFloat($event)" (blur)="validateLongFloat($event)"
              required class="form-control required our-control">
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="form-group">
        <label>11. Информация о привлечении кредитных (заемных) средств на строительство (создание) объекта недвижимости
          (привлекались и не привлекались)<span class="our-mandatory">*</span></label>

        <div class="i-checks">
          <label>
            <input cdp-icheck type="radio" name="infBorrowing" [(ngModel)]="appendix2.infBorrowing" value="true">
            Да
          </label>
          <br />
          <label>
            <input cdp-icheck type="radio" name="infBorrowing" [(ngModel)]="appendix2.infBorrowing" value="false"
                   >
            Нет
          </label>
        </div>
      </div>
    </div>
    <div *ngIf="appendix2.infBorrowing === 'true'" class="row">
      <div class="col-lg-12">
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">11.1 Кредитные организации<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <button type="button" class="btn btn-primary m-t-xs" (click)="addCreditOrganization()">Добавить</button>

            <div class="table-responsive m-t-md" *ngIf="appendix2.creditOrganizations.length">
              <table class="table table-hover" style="background: #fff;">
                <tbody>
                  <tr *ngFor="let creditOrganization of appendix2.creditOrganizations; index as i;">
                    <td>{{creditOrganization.creditOrganizationName}}</td>
                    <td width="1">
                      <button class="btn btn-default" (click)="editCreditOrganization(i)">
                        <i class="fa fa-pencil"></i>
                      </button>
                    </td>
                    <td width="1">
                      <button class="btn btn-default" (click)="removeCreditOrganization(i)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">11.2 Основные сообщества</label>
          <div class="col-lg-7 m-b-sm">
            <button type="button" class="btn btn-primary m-t-xs" (click)="addLoanCompany()">Добавить</button>

            <div class="table-responsive">
              <table class="table table-hover" style="background: #fff;">
                <tbody>
                  <tr *ngFor="let loanCompany of appendix2.loanCompanies; index as i;">
                    <td>{{loanCompany.loanCompanyName}}</td>
                    <td width="1">
                      <button class="btn btn-default" (click)="editLoanCompany(i)">
                        <i class="fa fa-pencil"></i>
                      </button>
                    </td>
                    <td width="1">
                      <button class="btn btn-default" (click)="removeLoanCompany(i)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <label>12. Информация о сумме привлеченных денежных средств участников долевого строительства на строительство
            (создание) объекта недвижимости:</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">12.1 сумма денежных средств участников долевого
            строительства, привлеченных застройщиком по договорам участия в долевом строительстве (млн. рублей) на
            первую календарную дату отчетного периода<span class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.balanceOfBorrowed" name="Appendix2sbalanceOfBorrowed" type="text" required
              mask="0*.009*" [dropSpecialCharacters]="false" (blur)="validateLongFloat($event)"
              class="form-control our-control required">
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">12.2 сумма денежных средств участников долевого
            строительства (млн. рублей), привлеченных в отчетном периоде<span class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.amountMoneyParticipants" name="Appendix2samountMoneyParticipants" type="text"
              required mask="0*.009*" [dropSpecialCharacters]="false" (blur)="validateLongFloat($event)"
              class="form-control our-control required" >
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">12.3 общая сумма денежных средств участников долевого
            строительства (млн. рублей), привлеченных застройщиком для строительства (создания) объекта
            недвижимости<span class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.totalAmountCash" name="Appendix2stotalAmountCash" type="text" mask="0*.009*"
              [dropSpecialCharacters]="false" (blur)="validateLongFloat($event)" required
              class="form-control our-control required" >
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">12.4 сумма денежных средств участников долевого
            строительства (млн. рублей), использованных застройщиком в отчетном периоде по целевому назначению<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.totalCashCompensation" name="Appendix2stotalCashCompensation" type="text"
              required mask="0*.009*" [dropSpecialCharacters]="false" (blur)="validateLongFloat($event)"
              class="form-control our-control required">
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">12.5 сумма денежных средств участников долевого
            строительства, использованных застройщиком по целевому назначению на первую календарную дату отчетного
            периода (млн. рублей)<span class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.totalCashCompensationFirstDate" required
              name="Appendix2stotalCashCompensationFirstDate" type="text" mask="0*.009*" [dropSpecialCharacters]="false"
              (blur)="validateLongFloat($event)" class="form-control our-control required">
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">12.6 сумма денежных средств, возвращенных на первую
            календарную дату отчетного периода участникам долевого строительства в связи с расторжением ДДУ (млн.
            рублей)<span class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.totalCashReturnedFirstDate" mask="0*.009*" [dropSpecialCharacters]="false"
              (blur)="validateLongFloat($event)" required name="Appendix2stotalCashReturnedFirstDate" type="text"
              class="form-control our-control required">
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">12.7 сумма денежных средств, возвращенных в отчетном
            периоде участникам долевого строительства (млн. рублей) в связи с расторжением договоров<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.totalCashReturned" mask="0*.009*" [dropSpecialCharacters]="false"
              (blur)="validateLongFloat($event)" name="Appendix2stotalCashReturned" required type="text"
              class="form-control our-control required">
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">12.8 сумма денежных средств участников долевого
            строительства на последнюю календарную дату отчетного периода, не ипользованных по целевому наначению (млн.
            рублей)<span class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.balance" name="Appendix2sbalance" mask="0*.009*"
              [dropSpecialCharacters]="false" (blur)="validateLongFloat($event)" type="text" required
              class="form-control our-control required">
          </div>
        </div>
      </div>
    </div>
    <div class="row  m-t">
      <div class="col-lg-12">
        <div class="form-group">
          <label>13. Информация о заключенных договорах участия в долевом строительстве по объекту недвижимости</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">13.1 дата заключения первого договора<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <cdp-ngx-date-select [(ngModel)]="appendix2.startDate" [model]="appendix2.startDate"
              (ngModelChange)="startDateChanged()" required>
            </cdp-ngx-date-select>
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">13.2 количество ДДУ, заключенных за отчетный
            период<span class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.amountContractsConcludedDuringRepPer"
              name="Appendix2samountContractsConcludedDuringRepPer" type="text" mask="0*" required
              class="form-control our-control required">
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">13.3 количество ДДУ, расторгнутых за отчетный
            период<span class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.amountContractsDivorcedDuringRepPer"
              name="Appendix2samountContractsDivorcedDuringRepPer" type="text" mask="0*" required
              class="form-control our-control required">
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">13.4 общее количество ДДУ, заключенных и действующих
            на последнюю календарную дату отчетного периода<span class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.contractsToReportDate" name="Appendix2scontractsToReportDate" type="text"
              (ngModelChange)="onChangeContractsToReportDate($event)" mask="0*" required
              class="form-control our-control required">
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">13.5 количество объектов долевого строительства -
            жилых помещений, в отношении которых на последнюю календарную дату отчетного периода действуют ДДУ<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.livingObjectsToReportDate" name="Appendix2slivingObjectsToReportDate"
              mask="0*" required type="text" class="form-control our-control required">
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">площадь объектов долевого строительства - жилых
            помещений, в отношении которых на последнюю календарную дату отчетного периода действуют ДДУ (кв.м)<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.areaLivingObjectsToReportDate" name="Appendix2sareaLivingObjectsToReportDate"
              mask="0*.9*" required type="text" class="form-control our-control required">
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">13.6 количество объектов долевого строительства -
            нежилых помещений, в отношении которых на последнюю календарную дату отчетного периода действуют ДДУ<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.nonLivingObjectsToReportDate" name="Appendix2snonLivingObjectsToReportDate"
              mask="0*" required type="text" class="form-control our-control required">
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">площадь объектов долевого строительства - нежилых
            помещений, в отношении которых на последнюю календарную дату отчетного периода действуют ДДУ (кв.м)<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.areaNonLivingObjectsToReportDate" mask="0*.9*" required
              name="Appendix2sareaNonLivingObjectsToReportDate" type="text" class="form-control our-control required"
                   >
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">13.7 количество объектов долевого строительства -
            машино-мест, в отношении которых на последнюю календарную дату отчетного периода действуют ДДУ<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.numberOfCarParkToReportDate" name="Appendix2snumberOfCarParkToReportDate"
              mask="0*" required type="text" class="form-control our-control required"
              >
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">площадь объектов долевого строительства - машино-мест,
            в отношении которых на последнюю календарную дату отчетного периода действуют ДДУ (кв.м)<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.areaOfCarParkToReportDate" name="Appendix2sareaOfCarParkToReportDate" required
              mask="0*.9*" type="text" class="form-control our-control required"
                   >
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">13.8 общая сумма обязательств по ДДУ, млн. рублей<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.sumObligation" name="Appendix2ssumObligation" type="text" mask="0*.009*"
              [dropSpecialCharacters]="false" (ngModelChange)="onChangeSumObligation($event)"
              (blur)="validateLongFloat($event)" required class="form-control our-control required"
                  >
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">13.8.1 в том числе, общая сумма денежных средств,
            предусмотренная ДДУ на оплату услуг застройщика, предусмотренных Федеральным законом от 30 декабря 2004 г. №
            214-ФЗ "Об участии в долевом строительстве многоквартирных домов и иных объектов недвижимости и о внесении
            изменений в некоторые законодательные акты Российской Федерации" (далее - Закон о долевом строительстве)
            (млн. рублей)<span class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.sumObligationDdu" name="Appendix2ssumObligationDdu" type="text" mask="0*.009*"
              [dropSpecialCharacters]="false" (blur)="validateLongFloat($event)" required
              class="form-control our-control required">
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">13.9 Дебиторская задолжность участников долевого
            строительства по оплате ДДУ (млн. рублей)<span class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.accountsReceivable" name="Appendix2saccountsReceivable" type="text" required
              mask="0*.009*" [dropSpecialCharacters]="false" (blur)="validateLongFloat($event)"
              class="form-control our-control required">
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">13.10 Общая сумма денежных средств участников долевого
            строительства, привлеченных застройщиком для строительства (создания) объекта недвижимости с даты получения
            заключения о соответствии застройщика и проектной декларации требованиям законодательства о долевом
            строительстве и до последней календарной даты отчетного периода (млн. рублей) <span
              class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.totalAmountAttracted" name="Appendix2stotalAmountAttracted" type="text"
              required mask="0*.009*" [dropSpecialCharacters]="false" (blur)="validateLongFloat($event)"
              class="form-control our-control required">
          </div>
        </div>
      </div>
    </div>
    <div class="row  m-t">
      <div class="col-lg-12">
        <div class="form-group">
          <label>14. Информация об исполнении застройщиком договоров участия в долевом строительстве</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">14.1 количество исполненных договоров<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.amountUsedContract" name="Appendix2samountUsedContract" required mask="0*"
              [disabled]="appendix2.permissionCommision === 'false'" class="form-control our-control required"
                   >
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">14.2 количество неисполненных договоров<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.amountUnUsedContract" name="Appendix2samountUnUsedContract" required mask="0*"
              [disabled]="appendix2.permissionCommision === 'false'" (input)="onUserChangeAmountUnUsedContract()"
              class="form-control our-control required">
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">14.3 общая сумма неисполненных обязательств по
            договорам (млн. рублей)<span class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.totalAmountOutstanding" name="Appendix2stotalAmountOutstanding" mask="0*.009*"
              [dropSpecialCharacters]="false" [disabled]="appendix2.permissionCommision === 'false'"
              (input)="onUserChangeTotalAmountOutstanding()" (blur)="validateLongFloat($event)" required
              class="form-control our-control required">
          </div>
        </div>
      </div>
    </div>
    <div class=" m-t">
      <div class="form-group">
        <label>15. Первоначальный срок передачи объектов долевого строительства участникам долевого строительства<span
            class="our-mandatory">*</span></label>
        <cdp-ngx-date-select [(ngModel)]="appendix2.firstTimeTransfer" [model]="appendix2.firstTimeTransfer" required
                            >
        </cdp-ngx-date-select>
      </div>
      <div class="form-group">
        <label>16. Предполагаемый срок передачи объектов долевого строительства участникам долевого строительства<span
            class="our-mandatory">*</span></label>
        <cdp-ngx-date-select [(ngModel)]="appendix2.timeTransfer" [model]="appendix2.timeTransfer" required
                >
        </cdp-ngx-date-select>
      </div>
    </div>
    <div>
      <div class="form-group">
        <label>17. Информация о разрешении на ввод в эксплуатацию объекта недвижимости, завершенного строительства<span
            class="our-mandatory">*</span></label>

        <div class="i-checks">
          <label>
            <input cdp-icheck type="radio" name="permissionCommision" [(ngModel)]="appendix2.permissionCommision"
              value="true" (ngModelChange)="onChangePermissionCommision($event)">
            Да
          </label>
          <br />
          <label>
            <input cdp-icheck type="radio" name="permissionCommision" [(ngModel)]="appendix2.permissionCommision"
              value="false" (ngModelChange)="onChangePermissionCommision($event)">
            Нет
          </label>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="appendix2.permissionCommision === 'true'">
      <div class="col-lg-12">
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">Объект вводится частично<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <div class="i-checks">
              <label>
                <input cdp-icheck type="radio" name="partiallyEntered" [(ngModel)]="appendix2.partiallyEntered"
                  value="true">
                Да
              </label>
              <br />
              <label>
                <input cdp-icheck type="radio" name="partiallyEntered" [(ngModel)]="appendix2.partiallyEntered"
                  value="false">
                Нет
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">Номер<span class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.permCommissionNumber" name="Appendix2spermCommissionNumber" required
              class="form-control our-control required">
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">Дата выдачи разрешения<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <cdp-ngx-date-select [(ngModel)]="appendix2.permCommissionDate" [model]="appendix2.permCommissionDate"
              required> </cdp-ngx-date-select>
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">Наименование органа (организации), выдавшего
            разрешение на ввод в эксплуатацию объекта недвижимости<span class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.permCommissionDistributor" name="Appendix2spermCommissionDistributor" required
              class="form-control our-control required">
          </div>
        </div>
      </div>
    </div>
    <div class="m-t">
      <div class="form-group">
        <label style="display: block; height: 30px;">
          18. Сведения о договоре страхования<span class="our-mandatory"
            *ngIf="!isNewRules && appendix2.insuranceAgreementAbsent === false">*</span>
          <label class="pull-right">
            <input cdp-icheck type="checkbox" [(ngModel)]="appendix2.insuranceAgreementAbsent"
              (ngModelChange)="onChangeInsuranceAgreementAbsent($event)">
            Договор отсутствует
          </label>
        </label>
      </div>
    </div>
    <div class="row" *ngIf="!appendix2.insuranceAgreementAbsent">
      <div class="col-lg-12">
        <div class="form-group">
          <button type="button" class="btn btn-primary m-t-xs" (click)="addInsuranceContract()">Добавить</button>

          <div class="table-responsive m-t-md" *ngIf="appendix2.InsuranceAgreements.length">
            <table class="table table-hover" style="background: #fff;">
              <thead>
                <tr style="font-size: 11px;">
                  <th>№, дата</th>
                  <th>Наименование страховой организации</th>
                  <th>Место нахождения</th>
                  <th>ИНН</th>
                  <th>Срок действия</th>
                  <th>Новый срок действия</th>
                  <th width="1"></th>
                  <th width="1"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let insuranceAgreements of appendix2.InsuranceAgreements; index as i;">
                  <td>
                    {{insuranceAgreements.insuranceContractNumber}}<br />от
                    {{insuranceAgreements.insuranceContractDate | date: "dd.MM.yyyy"}}
                  </td>
                  <td>{{insuranceAgreements.insuranceOrganizationName}}</td>
                  <td>{{insuranceAgreements.insuranceOrganizationPlace}}</td>
                  <td>{{insuranceAgreements.insuranceOrganizationINN}}</td>
                  <td>{{insuranceAgreements.validityOfInsuranceContract | date: "dd.MM.yyyy"}}</td>
                  <td>{{insuranceAgreements.newValidityOfInsuranceContract | date: "dd.MM.yyyy"}}</td>
                  <td>
                    <button class="btn btn-default" (click)="editInsuranceContract(i)">
                      <i class="fa fa-pencil"></i>
                    </button>
                  </td>
                  <td>
                    <button class="btn btn-default" (click)="removeInsuranceContract(i)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="form-group">
        <label style="display: block; height: 30px;">
          19. Сведения о договоре поручительства
          <span class="our-mandatory" *ngIf="!isNewRules && appendix2.bankGuarantorAbsent === false">*</span>
          <label class="pull-right">
            <input cdp-icheck type="checkbox" [(ngModel)]="appendix2.bankGuarantorAbsent"
              (ngModelChange)="onChangeBankGuarantorAbsent($event)">
            Договор отсутствует
          </label>
        </label>
      </div>
    </div>
    <div class="row" *ngIf="!appendix2.bankGuarantorAbsent">
      <div class="col-lg-12">
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">
            наименование (сокращенное наименование) банка - поручителя
            <span class="our-mandatory">*</span>
          </label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.bankGuarantorName" name="Appendix2sbankGuarantorName" required
              class="form-control our-control required">
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">
            ИНН банка - поручителя
            <span class="our-mandatory">*</span>
          </label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.bankGuarantorINN" mask="000000000099" name="Appendix2sbankGuarantorINN"
              [ngClass]="{'ng-invalid ng-inn-invalid': showInnError}" required
              class="form-control our-control required">
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">
            место нахождения банка - поручителя
            <span class="our-mandatory">*</span>
          </label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.bankGuarantorPlace" name="Appendix2sbankGuarantorPlace" required
              class="form-control our-control required">
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">
            дата договора поручительства
            <span class="our-mandatory">*</span>
          </label>
          <div class="col-lg-7 m-b-sm">
            <cdp-ngx-date-select [(ngModel)]="appendix2.contractGuaranteeDate" [model]="appendix2.contractGuaranteeDate"
              required> </cdp-ngx-date-select>
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">
            номер договора поручительства
            <span class="our-mandatory">*</span>
          </label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.contractGuaranteeNumber" name="Appendix2scontractGuaranteeNumber" required
              class="form-control our-control required">
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">
            срок действия договора поручительства
            <span class="our-mandatory">*</span>
          </label>
          <div class="col-lg-7 m-b-sm">
            <cdp-ngx-date-select [(ngModel)]="appendix2.contractGuaranteeEndDate"
              [model]="appendix2.contractGuaranteeEndDate" required> </cdp-ngx-date-select>
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">
            в том числе новый срок действия договора поручительства в случае его продления
          </label>
          <div class="col-lg-7 m-b-sm">
            <cdp-ngx-date-select [(ngModel)]="appendix2.contractGuaranteeNewDate"
              [model]="appendix2.contractGuaranteeNewDate"> </cdp-ngx-date-select>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-t">
      <div class="col-lg-12">
        <div class="form-group">
          <label>
            20. Сведения об исполнении обязанности по уплате отчислений (взносов) в компенсационный фонд
            <span class="our-mandatory" *ngIf="!isNewRules">*</span>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">20.1 сумма обязательных отчислений (взносов)
            застройщика в компенсационный фонд, зачисленных в компенсационный фонд публично-правовой компании "Фонд
            защиты прав граждан - участников долевого строительства" с даты получения заключения о соответствии
            застройщика и проектной декларации требованиям законодательства о долевом строительстве (млн. рублей)<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.compensationFundAmount" name="Appendix2scompensationFundAmount" mask="0*.009*"
              [dropSpecialCharacters]="false" (blur)="validateLongFloat($event)" required
              class="form-control our-control required">
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">20.2 сумма обязательных отчислений (взносов)
            застройщика, внесенных на номинальный счет публично-правовой компании "Фонд защиты прав граждан - участников
            долевого строительства" с даты получения заключения о соответствии застройщика и проектной декларации
            требованиям законодательства о долевом строительстве (млн. рублей)<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.citizensRightsFundAmount" name="Appendix2scitizensRightsFundAmount" required
              mask="0*.009*" [dropSpecialCharacters]="false" (blur)="validateLongFloat($event)"
              class="form-control our-control required">
          </div>
        </div>
      </div>
    </div>
    <div class="row m-t">
      <div class="col-lg-12">
        <div class="form-group">
          <label>21. Сведения о расчетном счете застройщика, открытом в целях осуществления деятельности,
            предусмотренной Законом о долевом строительстве:</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">21.1 организационно-правовая форма и наименование
            уполномоченного банка, в котором у застройщика открыт расчетный счет</label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.bankLegalFormOfOrganization" name="Appendix2sbankLegalFormOfOrganization"
              type="text" class="form-control our-control">
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">21.2 реквизиты расчетного счета застройщика в
            уполномоченном банке (номер расчетного счета, корреспондентский счет, БИК, ИНН/КП, ОГРН, ОКПО)</label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.checkingAccount" name="Appendix2scheckingAccount" type="text"
              class="form-control our-control">
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">21.3 остаток денежных средств на расчетном счете на
            конец отчетного периода (млн. рублей)</label>
          <div class="col-lg-7 m-b-sm">
            <input [(ngModel)]="appendix2.accountCashBalance" name="Appendix2saccountCashBalance" mask="0*.009*"
              [dropSpecialCharacters]="false" (blur)="validateLongFloat($event)" class="form-control our-control"
                   >
          </div>
        </div>
      </div>
    </div>
    <div class="row m-t">
      <div class="col-lg-12">
        <div class="form-group">
          <label>
            IV. Примерный график реализации проекта строительства и обязательств по договорам<span
              class="our-mandatory">*</span>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <app-schedule-works [scheduleWorks]="appendix2.ScheduleWorks" [ikvartal]="ikvartal" [year]="year">
        </app-schedule-works>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="activeModal.hide()">Закрыть</button>
    <button type="button" class="btn btn-primary" (click)="save()">Сохранить</button>
  </div>
</div>

