<div class="modal-header">
  <h4 class="modal-title">Сведения о договоре страхования</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" [ngClass]="{'show-errors': showErrors}">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">наименование (сокращенное наименование) страховой
          организации<span class="our-mandatory">*</span></label>
        <div class="col-lg-7 m-b-sm">
          <input [(ngModel)]="insuranceAgreement.insuranceOrganizationName" name="insuranceOrganizationName" type="text"
            required class="form-control our-control">
        </div>
      </div>
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">место нахождения страховой организации</label>
        <div class="col-lg-7 m-b-sm">
          <input [(ngModel)]="insuranceAgreement.insuranceOrganizationPlace" name="insuranceOrganizationPlace"
            type="text" class="form-control our-control">
        </div>
      </div>
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">ИНН страховой организации</label>
        <div class="col-lg-7 m-b-sm">
          <input [(ngModel)]="insuranceAgreement.insuranceOrganizationINN" name="insuranceOrganizationINN" type="text"
            [ngClass]="{'ng-invalid ng-inn-invalid': showInnError}" mask="000000000099" class="form-control our-control">
        </div>
      </div>
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">дата договора страхования</label>
        <div class="col-lg-7 m-b-sm">
          <cdp-ngx-date-select [(ngModel)]="insuranceAgreement.insuranceContractDate"
            [model]="insuranceAgreement.insuranceContractDate"> </cdp-ngx-date-select>
        </div>
      </div>
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">номер договора страхования</label>
        <div class="col-lg-7 m-b-sm">
          <input [(ngModel)]="insuranceAgreement.insuranceContractNumber" name="insuranceContractNumber" type="text"
            class="form-control our-control">
        </div>
      </div>
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">срок действия договора страхования</label>
        <div class="col-lg-7 m-b-sm">
          <cdp-ngx-date-select [(ngModel)]="insuranceAgreement.validityOfInsuranceContract"
            [model]="insuranceAgreement.validityOfInsuranceContract"> </cdp-ngx-date-select>
        </div>
      </div>
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">новый срок действия договора страхования в случае его
          продления</label>
        <div class="col-lg-7 m-b-sm">
          <cdp-ngx-date-select [(ngModel)]="insuranceAgreement.newValidityOfInsuranceContract"
            [model]="insuranceAgreement.newValidityOfInsuranceContract"> </cdp-ngx-date-select>
        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="activeModal.hide()">Закрыть</button>
    <button type="button" class="btn btn-primary" (click)="add()">Сохранить</button>
  </div>
</div>