<div class="modal-header">
  <h4 class="modal-title">Сведения об объекте недвижимости</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" [ngClass]="{'show-errors': showErrors}">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">наименование основного общества, предоставившего целевой
          заем</label>
        <div class="col-lg-7 m-b-sm">
          <input [(ngModel)]="loanCompany.loanCompanyName" name="loanCompanyName" type="text"
            class="form-control our-control">
        </div>
      </div>
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">ИНН основного общества, предоставившего целевой
          заем</label>
        <div class="col-lg-7 m-b-sm">
          <input [(ngModel)]="loanCompany.loanCompanyINN" name="loanCompanyINN" type="text" mask="000000000099"
            [ngClass]="{'ng-invalid ng-inn-invalid': showErrors}" class="form-control our-control">
        </div>
      </div>
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">общий объем заемных средств (млн. рублей)</label>
        <div class="col-lg-7 m-b-sm">
          <input [(ngModel)]="loanCompany.totalBorrowedFunds" name="amountBorrowing" type="text" mask="0*.009*"
            [dropSpecialCharacters]="false" (blur)="validateLongFloat($event)" class="form-control our-control">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="activeModal.hide()">Закрыть</button>
    <button type="button" class="btn btn-primary" (click)="add()">Сохранить</button>
  </div>
</div>