<div class="modal-header">
  <h4 class="modal-title">Справка о целевом расходовании денежных средств</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" [ngClass]="{'show-errors': showErrors}">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">Наименование вида расхода<span class="our-mandatory">*</span></label>
        <div class="col-lg-7 m-b-sm">
          <input [(ngModel)]="otherCostsItem.name" name="name" type="text"
            class="form-control our-control " required>
        </div>
      </div>
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">Сумма (тыс.руб.)<span class="our-mandatory">*</span></label>
        <div class="col-lg-7 m-b-sm">
          <input [(ngModel)]="otherCostsItem.sum" name="sum" type="text" mask="0*.009*"
          [dropSpecialCharacters]="false" (blur)="validateLongFloat($event)"
          class="form-control our-control " required>
        </div>
      </div>
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">Ссылка на пункт ст.18 214-ФЗ<span class="our-mandatory">*</span></label>
        <div class="col-lg-7 m-b-sm">
          <input [(ngModel)]="otherCostsItem.pdLink" name="pdLink" type="text"
          class="form-control our-control " required>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="activeModal.hide()">Закрыть</button>
    <button type="button" class="btn btn-primary" (click)="add()">Сохранить</button>
  </div>
</div>