<div class="modal-header">
  <h4 class="modal-title">Справка о наличии просроченных обязательств по договорам</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" [ngClass]="{'show-errors': showErrors}">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">Адрес объекта<span
            class="our-mandatory">*</span></label>
        <div class="col-lg-7 m-b-sm">
          <input [(ngModel)]="obligationsRef.oAddress" name="oAddress" type="text"
            class="form-control our-control " required>
        </div>
      </div>
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">Первоначальный срок передачи<span class="our-mandatory">*</span></label>
        <div class="col-lg-7 m-b-sm">
          <cdp-ngx-date-select [(ngModel)]="obligationsRef.tDate" [model]="obligationsRef.tDate" required>
          </cdp-ngx-date-select>
        </div>
      </div>
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">Причина<span class="our-mandatory">*</span></label>
        <div class="col-lg-7 m-b-sm">
          <textarea [(ngModel)]="obligationsRef.reason" name="reason" type="text" rows="3"
            cols="50" required class="form-control our-control"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="activeModal.hide()">Закрыть</button>
    <button type="button" class="btn btn-primary" (click)="add()">Сохранить</button>
  </div>
</div>