<div class="modal-header">
  <h4 class="modal-title">{{scheduleWork.workType.name}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" [ngClass]="{'show-errors': showErrors}">
  <div class="row">
    <div class="col-lg-12">
      <div *ngIf="showPeriodsError" class="mandatory">
        Плановые показетели должны быть заполненны до 100%, пропуск кварталов и лет при заполнении таблицы не допускается.
      </div>
      <table class="table table-hover" *ngIf="mode === 'table'">
        <thead>
          <tr>
            <th width="160px">Квартал</th>
            <th width="120px">Год</th>
            <th>% по плану</th>
            <th>% фактически</th>
            <th width="1"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let scheduleWorkItem of scheduleWork.ScheduleWorkItemss; index as i; trackBy: trackScheduleWorkItem;">
            <td>
              <ng-select name="planq{{i}}" [items]="ikvartals" [multiple]="false" [closeOnSelect]="true"
                [hideSelected]="true" required bindLabel="name" bindValue="value" [placeholder]="'Квартал'" required
                class="our-select" [(ngModel)]="scheduleWorkItem.planq">
              </ng-select>
            </td>
            <td>
              <ng-select name="plany{{i}}" [items]="years" [multiple]="false" [closeOnSelect]="true"
                [hideSelected]="true" required [placeholder]="'Год'" class="our-select" required
                [(ngModel)]="scheduleWorkItem.plany">
              </ng-select>
            </td>
            <td>
              <input [(ngModel)]="scheduleWorkItem.planpc" name="planpc{{i}}" type="text" mask="990.9*" required min="0"
              [ngClass]="{'ng-invalid': +scheduleWorkItem.planpc > 100}"
                max="100" class="form-control our-control">
            </td>
            <td>
              <input [(ngModel)]="scheduleWorkItem.factpc" name="factpc{{i}}" type="text" mask="990.9*" min="0"
              [required]="(scheduleWorkItem.planq < ikvartal && scheduleWorkItem.plany <= year) ? 'required' : null"
              [ngClass]="{'ng-invalid': +scheduleWorkItem.factpc > 100}"
                max="100" class="form-control our-control">
            </td>
            <td>
              <button class="btn btn-default" (click)="removeScheduleWorkItem(i)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              <button class="btn btn-primary" (click)="addScheduleWorkItem()" [disabled]="hasFullFactPc">
                Добавить запись
              </button>
            </td>
          </tr>
        </tfoot>
      </table>

      <div *ngIf="mode === 'permission_date'">
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">Планируемая дата<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <cdp-ngx-date-select [(ngModel)]="permission_plandate"
              [model]="permission_plandate" required>
            </cdp-ngx-date-select>
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">Фактическая дата</label>
          <div class="col-lg-7 m-b-sm">
            <cdp-ngx-date-select [(ngModel)]="permission_factdate"
              [model]="permission_factdate">
            </cdp-ngx-date-select>
          </div>
        </div>
      </div>

      <div *ngIf="mode === 'conformity_date'">
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">Планируемая дата<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <cdp-ngx-date-select [(ngModel)]="conformity_plandate"
              [model]="conformity_plandate" required>
            </cdp-ngx-date-select>
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">Фактическая дата</label>
          <div class="col-lg-7 m-b-sm">
            <cdp-ngx-date-select [(ngModel)]="conformity_factdate"
              [model]="conformity_factdate">
            </cdp-ngx-date-select>
          </div>
        </div>
      </div>
      <div *ngIf="mode ==='finishing'">
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">Предусмотренный договорами<span
              class="our-mandatory">*</span></label>
          <div class="col-lg-7 m-b-sm">
            <cdp-ngx-date-select [(ngModel)]="transfer_plandate"
              [model]="transfer_plandate" required>
            </cdp-ngx-date-select>
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">Измененный (предусмотренный дополнительным
            соглашением)</label>
          <div class="col-lg-7 m-b-sm">
            <cdp-ngx-date-select [(ngModel)]="transfer_finish"
              [model]="transfer_finish">
            </cdp-ngx-date-select>
          </div>
        </div>
        <div class="row">
          <label class="col-lg-5 control-label our-control-label">Фактический</label>
          <div class="col-lg-7 m-b-sm">
            <cdp-ngx-date-select [(ngModel)]="transfer_factdate"
              [model]="transfer_factdate">
            </cdp-ngx-date-select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="activeModal.hide()">Закрыть</button>
    <button type="button" class="btn btn-primary" (click)="add()">Сохранить</button>
  </div>
</div>