<ng-wizard [config]="config" (stepChanged)="stepChanged($event)">
  <ng-wizard-step [title]="'1. Общие сведения'">
      <div *ngIf="loaded">
        <app-step-general-information [report]="report" [importXML]="importXML"></app-step-general-information>
      </div>
  </ng-wizard-step>

  <ng-wizard-step [title]="'2. Баланс'">
    <app-step-balance [report]="report"></app-step-balance>
  </ng-wizard-step>

  <ng-wizard-step [title]="'3. Нормативы'">
    <app-step-rates [report]="report" *ngIf="currentStepIndex === 2"></app-step-rates>
  </ng-wizard-step>

  <ng-wizard-step [title]="'4. Справки'">
    <app-step-reference [report]="report" *ngIf="currentStepIndex === 3"></app-step-reference>
  </ng-wizard-step>

  <ng-wizard-step [title]="'5. Ведомость'">
    <app-step-statement [report]="report" *ngIf="currentStepIndex === 4"></app-step-statement>
  </ng-wizard-step>

  <ng-wizard-step [title]="'6. Формирование XML'" [state]="disabled">
    <app-step-export [report]="report"></app-step-export>
  </ng-wizard-step>
</ng-wizard>
<hr>
<p>Для продолжения работы на другом компьютере вы можете выгрузить текущие данные в файл и затем загрузить его на другом
  компьютере.</p>
<button class="btn btn-primary mr-3" (click)="exportJSON()">Сохранить черновик</button>
<button class="btn btn-primary" (click)="importJSON()">Загрузить черновик</button>
<input type="file" style="display: none" #loadedReport (change)="handleFileInput($event.target.files)">
<input type="file" style="display: none" #loadedXMLReport (change)="handleXMLFileInput($event.target.files)">



