.our-control-label {
  text-align: right;
  padding-top: 7px;
}

img.our-welcome-img-circle {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-right: 8px;
}

img.our-welcome-img-circle2 {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 6px;
}

@media screen and (max-width: 1200px) {
  .our-full-fio {
    display: none;
  }
}

.question {
  font-size: 20px;
  font-weight: 400;
}

/*.navbar-nav a:hover{
background-color: #f3f3f4 !important;
}
*/

img.our-img-circle-S {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin-left: 8px;
  margin-right: 8px;
}

.our-mandatory {
  position: absolute;
  margin-left: 3px;
  color: #ed5565;
}

.our-file-buttons {
  position: absolute;
  margin-left: -50px;
  margin-top: 3px;
  border: 0px solid !important;
}

.our-file-buttons button {
  border: 0px solid !important;
}

.file-m-b-sm {
  margin-bottom: 0px;
}

.fs17 {
  font-size: 17px;
}

.our-vitrina-h2 {
  font-size: 20px;
  font-weight: 600;
}

.our-attachment {
  font-size: 11px;
}

.has-error input,
.has-error textarea,
.has-error select {
  background-color: #fce6e8;
}

.p-t-none {
  padding-top: 0px;
}

.certificate {
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
}

.certificate img {
  height: 20px;
}

.our-file-class {
  color: #4e5052;
  margin-bottom: 5px;
  font-weight: 600;
}

.our-icon-file {
  height: 70px;
}

.our-section {
  border-top: 1px solid #e7eaec;
  padding-top: 10px;
}

.our-border {
  border: 1px solid #e7eaec;
}

.our-border-red {
  border: 1px solid #ed5666;
}

.our-no-b {
  font-weight: 400 !important;
  white-space: nowrap;
}

.our-name {
  color: #fff;
  font-weight: 800;
  font-size: 17px;
  padding: 14px 13px 10px 22px;
  background-color: #244052;
}

.our-name a {
  color: #fff;
}

.our-name a:hover {
  color: #dfe4ed;
}

@media screen and (min-width: 992px) {
  .our-letter {
    width: 700px !important;
  }
}

div .our-subname {
  font-size: 23px;
  background-color: #29495d;
}

.our-logo {
  margin-right: 4px;
}

.our-nw {
  white-space: nowrap;
}

.our-semibold {
  font-weight: 600;
}

.our-empty-srok {
  display: block;
  width: 50px;
  background-color: red;
}

.our-table-xs th {
  font-size: 10px;
  font-weight: 600;
}

.our-table-sm th {
  font-weight: 600;
}

.our-primary-color {
  color: #1bb395;
}

.center {
  text-align: center;
}

/*
.dl-horizontal dt{
font-weight: 600;
}
*/

.control-label {
  font-size: 13px;
  font-weight: 500;
}

.i-checks label {
  font-weight: 600;
}

.form-control {
  font-weight: 500;
}

.description .dl-horizontal dt {
  width: 240px;
  text-align: left;
  white-space: normal;
}
.description .dl-horizontal dt,
.description .dl-horizontal dt span {
  font-weight: 400;
}

.description .dl-horizontal dd {
  font-weight: 600;
  margin-bottom: 8px;
  line-height: 1.25;
}

@media screen and (min-width: 764px) {
  /*Для больших экранов делаем с точками и в 2 колонки. Для маленьких будет просто через перенос строки*/

  .description .dl-horizontal dt {
    width: 240px;
    text-align: left;
    white-space: normal;
    /* background: url(../img/hr-dot-gray.gif) 100% 12px repeat-x; */
  }

  .description .dl-horizontal dd {
    margin-left: 250px;
    line-height: 1.25;
  }
}

.description .dl-horizontal dt span {
  padding: 0 5px 0 0;
  line-height: 1.25;
  background: #ffffff;
}

/* select делаем свою стрелку */

.our-select {
  -webkit-appearance: none;
  line-height: 1em;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  /* for IE */
  -ms-appearance: none;
  appearance: none !important;
}

.our-select::-ms-expand {
  display: none;
}

.our-caret {
  position: absolute;
  margin-top: -18px;
  margin-left: -20px;
}

.m-t-8 {
  margin-top: 8px;
}