<div style="padding: 0 2.5%;">
  <h2>{{tableCode}}</h2>
  <table class="table table-striped" style="background: white;">
    <thead>
      <tr>
        <th colspan="2"></th>
        <th *ngFor="let valuesColumnName of valuesColumnNames;" style="text-align: right;">
          {{valuesColumnName}}
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let tableByCode of tablesByCode; let lastTable = last">
        <tr *ngFor="let row of tableByCode; let last = last;" [ngClass]="{ 'bold-row': isBoldRow(row.code) }">
          <td>{{row.name}}</td>
          <td>{{row.code}}</td>
          <td *ngFor="let rowValue of row.values" style="text-align: right;">
            {{rowValue.value}}
          </td>
        </tr>
        <tr *ngIf="!lastTable">
          <td [attr.colspan]="numberOfColumns">
            &nbsp;
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>