<div style="padding: 0 2.5%;">
  <table class="table table-striped" style="background: white;">

    <!--
    Наименование работ (услуг) и затрат
    Фактическая стоимость реализации проекта строительства (с НДС) (по состоянию на последнюю календарную дату предыдущего отчетного периода) (млн. рублей)
    Проектная стоимость строительства (по состоянию на последнюю календарную дату текущего отчетного периода) (млн. рублей)
    Оплачено с начала строительства (по состоянию на последнюю календарную дату текущего отчетного периода) (млн. рублей)
    Фактическая стоимость реализации проекта строительства (с НДС) (по состоянию на последнюю календарную дату текущего отчетного периода) (млн. рублей)
    Остаток к оплате, млн. рублей (7=4­­-5) -->

    <thead style="font-size: 11px;">
      <tr>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
      </tr>
      <tr>
        <th>№ п/п</th>
        <th>Наименование работ (услуг) и затрат</th>
        <th>Фактическая стоимость реализации проекта строительства (с НДС) (по состоянию на последнюю календарную дату
          предыдущего отчетного периода) (млн. рублей)</th>
        <th>Проектная стоимость строительства (по состоянию на последнюю календарную дату текущего отчетного периода)
          (млн. рублей)</th>
        <th>Оплачено с начала строительства (по состоянию на последнюю календарную дату текущего отчетного периода)
          (млн. рублей)</th>
        <th>Фактическая стоимость реализации проекта строительства (с НДС) (по состоянию на последнюю календарную дату
          текущего отчетного периода) (млн. рублей)</th>
        <th>Остаток к оплате, млн. рублей (7=4­­-5)</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let row of tableData; let last = last;">
        <tr *ngIf="isVisible[row.rowType.id]">

          <td>{{row.rowType.articleOfCalculating}}</td>
          <td>
            <ng-container *ngIf="!canChangeName[row.rowType.id]">
              {{row.rowType.name}}
            </ng-container>
            <ng-container *ngIf="canChangeName[row.rowType.id]">
              <input [(ngModel)]="row.rowType.name" name="rowTypeName" type="text" (ngModelChange)="calcValues($event)"
                class="form-control our-control required">
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="isCalc[row.rowType.id]">
              {{row.prevCost}}
            </ng-container>
            <ng-container *ngIf="!isCalc[row.rowType.id]">
              <input [(ngModel)]="row.prevCost" name="prevCost" type="text" mask="0*.009*"
                [dropSpecialCharacters]="false" (blur)="validateLongFloat($event)" (ngModelChange)="calcValues($event)"
                class="form-control our-control">
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="isCalc[row.rowType.id]">
              {{row.totalCost}}
            </ng-container>
            <ng-container *ngIf="!isCalc[row.rowType.id]">
              <input [(ngModel)]="row.totalCost" name="totalCost" type="text" mask="0*.009*"
                [dropSpecialCharacters]="false" (blur)="validateLongFloat($event)" (ngModelChange)="calcValues($event)"
                class="form-control our-control">
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="isCalc[row.rowType.id]">
              {{row.paidWorks}}
            </ng-container>
            <ng-container *ngIf="!isCalc[row.rowType.id]">
              <input [(ngModel)]="row.paidWorks" name="paidWorks" type="text" mask="0*.009*"
                [dropSpecialCharacters]="false" (blur)="validateLongFloat($event)" (ngModelChange)="calcValues($event)"
                class="form-control our-control">
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="isCalc[row.rowType.id]">
              {{row.assimilatedWorks}}
            </ng-container>
            <ng-container *ngIf="!isCalc[row.rowType.id]">
              <input [(ngModel)]="row.assimilatedWorks" name="assimilatedWorks" type="text" mask="0*.009*"
                [dropSpecialCharacters]="false" (blur)="validateLongFloat($event)" (ngModelChange)="calcValues($event)"
                class="form-control our-control">
            </ng-container>
          </td>
          <td width = "80px">
            <ng-container *ngIf="isCalc[row.rowType.id]">
              {{row.balanceForPayment}}
            </ng-container>
            <ng-container *ngIf="!isCalc[row.rowType.id]">
              <input [(ngModel)]="row.balanceForPayment" name="balanceForPayment" type="text" mask="0*.009*"
                [dropSpecialCharacters]="false" (blur)="validateLongFloat($event)" (ngModelChange)="calcValues($event)"
                class="form-control our-control">
            </ng-container>
          </td>
        </tr>

        <tr *ngIf="showSum[row.rowType.id]">
          <td></td>
          <td>{{showSum[row.rowType.id].name}}</td>
          <td>{{sumByArticle[showSum[row.rowType.id].key].prevCost.toFixed(2)}}</td>
          <td>{{sumByArticle[showSum[row.rowType.id].key].totalCost.toFixed(2)}}</td>
          <td>{{sumByArticle[showSum[row.rowType.id].key].paidWorks.toFixed(2)}}</td>
          <td>{{sumByArticle[showSum[row.rowType.id].key].assimilatedWorks.toFixed(2)}}</td>
          <td>{{sumByArticle[showSum[row.rowType.id].key].balanceForPayment.toFixed(2)}}</td>
        </tr>
      </ng-container>
      <tr *ngIf="sumByArticle.total">
        <td></td>
        <td>Всего</td>
        <td>
          <span [ngClass]="{'invalid-value': showErrorPrevCost}">
            {{sumByArticle.total.prevCost.toFixed(2)}}
          </span>
        </td>
        <td>
          <span [ngClass]="{'invalid-value': showErrorTotalCost}">
            {{sumByArticle.total.totalCost.toFixed(2)}}
          </span>
        </td>
        <td>
          <span [ngClass]="{'invalid-value': showErrorPaidWorks}">
            {{sumByArticle.total.paidWorks.toFixed(2)}}
          </span>
        </td>
        <td>
          <span [ngClass]="{'invalid-value': showErrorAssimilatedWorks}">
            {{sumByArticle.total.assimilatedWorks.toFixed(2)}}
          </span>
        </td>
        <td>
          <span [ngClass]="{'invalid-value': showErrorBalanceForPayment}">
            {{sumByArticle.total.balanceForPayment.toFixed(2)}}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

