.title-row {
  td {
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
  }
}

.title-cell {
  font-weight: bold;
  text-align: center;
}

.value-cell {
  text-align: right;
}