.zui-table {
  &--fixed {
    width: 360px;
  }

  &--variable {
    width: 1300px;
  }

  tbody {
    background: #fff;
  }

  margin-bottom: 0;
}

.zui-wrapper {
  position: relative;
  display: flex;
}

.zui-scroller {
  // margin-left: 360px;
  overflow-x: scroll;
  overflow-y: visible;
  margin-left: -4px;
  width: calc(100% - 360px);
}

.empty-cell {
  height: 35px;
}

td label {
  margin-bottom: 0;
}

.y-scroller {
  position: relative;
  overflow-y: scroll;
  max-height: calc(100vh - 100px);
}
