<h3>{{tableTitle}}</h3>

<div class="y-scroller">
  <div class="zui-wrapper">
    <table class="table table-bordered zui-table zui-table--fixed" #tableFixed>
      <thead style="font-size: 10px;">
        <tr>
          <th colspan="2" class="first-cell zui-sticky-col"></th>
          <th class="zui-sticky-col-3">
            {{valuesColumnName}}
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let row of tableData; let i = index;">
          <tr class="bold-row" *ngIf="titles[row.code]">
            <td colspan="3" class="first-cell zui-sticky-col">
              {{titles[row.code]}}
            </td>
          </tr>
          <tr>
            <td class="first-cell  zui-sticky-col">{{row.name}}</td>
            <td class="zui-sticky-col-2">{{row.code}}</td>
            <td class="zui-sticky-col-3" style="text-align: right;">{{getValueByPeriod(row)}}</td>
          </tr>
        </ng-container>
        <tr>
          <td colspan="3" style="font-style: italic;" class="zui-sticky-col">
            Строки, участвующие в расчете, отсутствуют
          </td>
        </tr>
      </tbody>
    </table>

    <div class="zui-scroller">
      <table class="table table-bordered zui-table zui-table--variable" #tableVariable>
        <thead style="font-size: 10px;">
          <tr>
            <th class="first-cell">Активы незавершенного стр-ва (п.4 подп. а) правил*)</th>
            <th>ДЗ по налогам и сборам (п.4 подп. б) правил*)</th>
            <th>Объекты завершенного стр-ва (п.4 подп. в) правил*)</th>
            <th>ДЗ по авансам (п.4 подп. г) правил*)</th>
            <th>ДЗ прочие расходы (п.4 подп. д) правил*)</th>
            <th>ДЗ по ДДУ с отсрочкой платежа (п.4 подп. е) правил*)</th>
            <th>НДС предъявленные застройщику поставщиками (п.4 подп. ж) правил*)</th>
            <th>ДС на счетах в уполномоченном банке (п.4 подп. з) правил*)</th>
            <th>ДБП по гос.помощи или безвозмездном получении имущества (п.5 подп. а) правил*)</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let row of tableData; let i = index;">
            <tr class="bold-row" *ngIf="titles[row.code]">
              <td colspan="9" class="zui-sticky-col first-cell " [innerHTML]="'&nbsp'">

              </td>
            </tr>
            <tr>

              <!-- 
        withoutDeferredTaxLiabilities673 = false; -->
              <td style="text-align: center; padding: 0;vertical-align: middle;" class="first-cell "
                [ngClass]="{'empty-cell': !checkboxMatrix[i].includes('unfinishedBuildingActivities673'), 'invalid-label': !hasunfinishedBuildingActivities673 && !report.withoutUnfinishedBuildingActivities673}">
                <label *ngIf="checkboxMatrix[i].includes('unfinishedBuildingActivities673')">
                  <input cdp-icheck type="checkbox" [(ngModel)]="row.unfinishedBuildingActivities673"
                    (ngModelChange)="onCheckboxChange($event)"
                    [disabled]="report.withoutUnfinishedBuildingActivities673">
                </label>
                <span [innerHTML]="'&nbsp'"></span>
              </td>
              <td style="text-align: center; padding: 0;vertical-align: middle;"
                [ngClass]="{'empty-cell': !checkboxMatrix[i].includes('taxesAndFees673'), 'invalid-label': !hastaxesAndFees673 && !report.withoutTaxesAndFees673}">
                <label *ngIf="checkboxMatrix[i].includes('taxesAndFees673')">
                  <input cdp-icheck type="checkbox" [(ngModel)]="row.taxesAndFees673"
                    (ngModelChange)="onCheckboxChange($event)" [disabled]="report.withoutTaxesAndFees673">
                </label>
              </td>
              <td style="text-align: center; padding: 0;vertical-align: middle;"
                [ngClass]="{'empty-cell': !checkboxMatrix[i].includes('finishedBuildingActivities673'), 'invalid-label': !hasfinishedBuildingActivities673 && !report.withoutFinishedBuildingActivities673}">
                <label *ngIf="checkboxMatrix[i].includes('finishedBuildingActivities673')">
                  <input cdp-icheck type="checkbox" [(ngModel)]="row.finishedBuildingActivities673"
                    (ngModelChange)="onCheckboxChange($event)" [disabled]="report.withoutFinishedBuildingActivities673">
                </label>
              </td>
              <td style="text-align: center; padding: 0;vertical-align: middle;"
                [ngClass]="{'empty-cell': !checkboxMatrix[i].includes('prepayment673'), 'invalid-label': !hasprepayment673 && !report.withoutPrepayment673}">
                <label *ngIf="checkboxMatrix[i].includes('prepayment673')">
                  <input cdp-icheck type="checkbox" [(ngModel)]="row.prepayment673"
                    (ngModelChange)="onCheckboxChange($event)" [disabled]="report.withoutPrepayment673">
                </label>
              </td>
              <td style="text-align: center; padding: 0;vertical-align: middle;"
                [ngClass]="{'empty-cell': !checkboxMatrix[i].includes('otherCosts673'), 'invalid-label': !hasotherCosts673 && !report.withoutOtherCosts673}">
                <label *ngIf="checkboxMatrix[i].includes('otherCosts673')">
                  <input cdp-icheck type="checkbox" [(ngModel)]="row.otherCosts673"
                    (ngModelChange)="onCheckboxChange($event)" [disabled]="report.withoutOtherCosts673">
                </label>
              </td>
              <td style="text-align: center; padding: 0;vertical-align: middle;"
                [ngClass]="{'empty-cell': !checkboxMatrix[i].includes('contractDebts673'), 'invalid-label': !hascontractDebts673 && !report.withoutContractDebts673}">
                <label *ngIf="checkboxMatrix[i].includes('contractDebts673')">
                  <input cdp-icheck type="checkbox" [(ngModel)]="row.contractDebts673"
                    (ngModelChange)="onCheckboxChange($event)" [disabled]="report.withoutContractDebts673">
                </label>
              </td>
              <td style="text-align: center; padding: 0;vertical-align: middle;"
                [ngClass]="{'empty-cell': !checkboxMatrix[i].includes('valueAddedTax673'), 'invalid-label': !hasvalueAddedTax673 && !report.withoutValueAddedTax673}">
                <label *ngIf="checkboxMatrix[i].includes('valueAddedTax673')">
                  <input cdp-icheck type="checkbox" [(ngModel)]="row.valueAddedTax673"
                    (ngModelChange)="onCheckboxChange($event)" [disabled]="report.withoutValueAddedTax673">
                </label>
              </td>
              <td style="text-align: center; padding: 0;vertical-align: middle;"
                [ngClass]="{'empty-cell': !checkboxMatrix[i].includes('cashInBankAccounts673'), 'invalid-label': !hascashInBankAccounts673 && !report.withoutCashInBankAccounts673}">
                <label *ngIf="checkboxMatrix[i].includes('cashInBankAccounts673')">
                  <input cdp-icheck type="checkbox" [(ngModel)]="row.cashInBankAccounts673"
                    (ngModelChange)="onCheckboxChange($event)" [disabled]="report.withoutCashInBankAccounts673">
                </label>
              </td>
              <td style="text-align: center; padding: 0;vertical-align: middle;"
                [ngClass]="{'empty-cell': !checkboxMatrix[i].includes('revenueOfFuturePeriods673'), 'invalid-label': !hasrevenueOfFuturePeriods673 && !report.withoutRevenueOfFuturePeriods673}">
                <label *ngIf="checkboxMatrix[i].includes('revenueOfFuturePeriods673')">
                  <input cdp-icheck type="checkbox" [(ngModel)]="row.revenueOfFuturePeriods673"
                    (ngModelChange)="onCheckboxChange($event)" [disabled]="report.withoutRevenueOfFuturePeriods673">
                </label>
              </td>
            </tr>
          </ng-container>
          <tr>
            <!--  withoutDeferredTaxLiabilities673 = false; -->
            <td style="text-align: center;padding: 0;vertical-align: middle;" class="first-cell" 
              [ngClass]="{'invalid-label': tableCode === 'assets' && !hasunfinishedBuildingActivities673 && !report.withoutUnfinishedBuildingActivities673}">
              <label *ngIf="tableCode === 'assets'">
                <input cdp-icheck type="checkbox" [(ngModel)]="report.withoutUnfinishedBuildingActivities673"
                  (ngModelChange)="onCheckboxChange($event)" [disabled]="hasunfinishedBuildingActivities673">
              </label>
            </td>
            <td style="text-align: center;padding: 0;vertical-align: middle;"
              [ngClass]="{'invalid-label': tableCode === 'assets' && !hastaxesAndFees673 && !report.withoutTaxesAndFees673}">
              <label *ngIf="tableCode === 'assets'">
                <input cdp-icheck type="checkbox" [(ngModel)]="report.withoutTaxesAndFees673"
                  (ngModelChange)="onCheckboxChange($event)" [disabled]="hastaxesAndFees673">
              </label>
            </td>
            <td style="text-align: center;padding: 0;vertical-align: middle;"
              [ngClass]="{'invalid-label': tableCode === 'assets' && !hasfinishedBuildingActivities673 && !report.withoutFinishedBuildingActivities673}">
              <label *ngIf="tableCode === 'assets'">
                <input cdp-icheck type="checkbox" [(ngModel)]="report.withoutFinishedBuildingActivities673"
                  (ngModelChange)="onCheckboxChange($event)" [disabled]="hasfinishedBuildingActivities673">
              </label>
            </td>
            <td style="text-align: center;padding: 0;vertical-align: middle;"
              [ngClass]="{'invalid-label': tableCode === 'assets' && !hasprepayment673 && !report.withoutPrepayment673}">
              <label *ngIf="tableCode === 'assets'">
                <input cdp-icheck type="checkbox" [(ngModel)]="report.withoutPrepayment673"
                  (ngModelChange)="onCheckboxChange($event)" [disabled]="hasprepayment673">
              </label>
            </td>
            <td style="text-align: center;padding: 0;vertical-align: middle;"
              [ngClass]="{'invalid-label': tableCode === 'assets' && !hasotherCosts673 && !report.withoutOtherCosts673}">
              <label *ngIf="tableCode === 'assets'">
                <input cdp-icheck type="checkbox" [(ngModel)]="report.withoutOtherCosts673"
                  (ngModelChange)="onCheckboxChange($event)" [disabled]="hasotherCosts673">
              </label>
            </td>
            <td style="text-align: center;padding: 0;vertical-align: middle;"
              [ngClass]="{'invalid-label': tableCode === 'assets' && !hascontractDebts673 && !report.withoutContractDebts673}">
              <label *ngIf="tableCode === 'assets'">
                <input cdp-icheck type="checkbox" [(ngModel)]="report.withoutContractDebts673"
                  (ngModelChange)="onCheckboxChange($event)" [disabled]="hascontractDebts673">
              </label>
            </td>
            <td style="text-align: center;padding: 0;vertical-align: middle;"
              [ngClass]="{'invalid-label': tableCode === 'assets' && !hasvalueAddedTax673 && !report.withoutValueAddedTax673}">
              <label *ngIf="tableCode === 'assets'">
                <input cdp-icheck type="checkbox" [(ngModel)]="report.withoutValueAddedTax673"
                  (ngModelChange)="onCheckboxChange($event)" [disabled]="hasvalueAddedTax673">
              </label>
            </td>
            <td style="text-align: center;padding: 0;vertical-align: middle;"
              [ngClass]="{'invalid-label': tableCode === 'assets' && !hascashInBankAccounts673 && !report.withoutCashInBankAccounts673}">
              <label *ngIf="tableCode === 'assets'">
                <input cdp-icheck type="checkbox" [(ngModel)]="report.withoutCashInBankAccounts673"
                  (ngModelChange)="onCheckboxChange($event)" [disabled]="hascashInBankAccounts673">
              </label>
            </td>
            <td style="text-align: center;padding: 0;vertical-align: middle;"
              [ngClass]="{'invalid-label': tableCode !== 'assets' && !hasrevenueOfFuturePeriods673 && !report.withoutRevenueOfFuturePeriods673}">
              <label *ngIf="tableCode !== 'assets'">
                <input cdp-icheck type="checkbox" [(ngModel)]="report.withoutRevenueOfFuturePeriods673"
                  (ngModelChange)="onCheckboxChange($event)" [disabled]="hasrevenueOfFuturePeriods673">
              </label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>