<h3>{{tableTitle}}</h3>

<table class="table table-bordered" style="background: white;">
  <thead style="font-size: 10px;">
    <tr>
      <th colspan="2" class="fixed-cell"></th>
      <th class="fixed-cell">
        {{valuesColumnName}}
      </th>
      <th>Активы незавершенного стр-ва</th>
      <th>ДЗ по ДДУ с отсрочкой платежа </th>
      <th>Обязательства по ДДУ </th>
      <th>Задолженность учредителей по взносам в УК </th>
      <th>ДБП по гос.помощи или безвозмездном получении имущества</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let row of tableData; let i = index;">
      <tr class="bold-row" *ngIf="titles[row.code]">
        <td colspan="8" class="fixed-cell">
          {{titles[row.code]}}
        </td>
      </tr>
      <tr>
        <td class="fixed-cell">{{row.name}}</td>
        <td class="fixed-cell">{{row.code}}</td>
        <td class="fixed-cell" style="text-align: right;">{{getValueByPeriod(row)}}</td>
        <td style="text-align: center; padding: 0;vertical-align: middle;"
          [ngClass]="{'empty-cell': !checkboxMatrix[i].includes('unfinishedBuildingActivities'), 'invalid-label': !hasunfinishedBuildingActivities && !report.withoutUnfinishedBuildingActivities}">
          <label *ngIf="checkboxMatrix[i].includes('unfinishedBuildingActivities')">
            <input cdp-icheck type="checkbox" [(ngModel)]="row.unfinishedBuildingActivities"
              (ngModelChange)="onCheckboxChange($event)" [disabled]="report.withoutUnfinishedBuildingActivities">
          </label>
        </td>
        <td style="text-align: center;padding: 0;vertical-align: middle;" [ngClass]="{'empty-cell': !checkboxMatrix[i].includes('contractDebts'), 'invalid-label': !hascontractDebts && !report.withoutContractDebts}">
          <label *ngIf="checkboxMatrix[i].includes('contractDebts')">
            <input cdp-icheck type="checkbox" [(ngModel)]="row.contractDebts" (ngModelChange)="onCheckboxChange($event)"
              [disabled]="report.withoutContractDebts">
          </label>
        </td>
        <td style="text-align: center;padding: 0;vertical-align: middle;" [ngClass]="{'empty-cell': !checkboxMatrix[i].includes('contractLiabilities'), 'invalid-label': !hascontractLiabilities && !report.withoutContractLiabilities}">
          <label *ngIf="checkboxMatrix[i].includes('contractLiabilities')" >
            <input cdp-icheck type="checkbox" [(ngModel)]="row.contractLiabilities"
              (ngModelChange)="onCheckboxChange($event)" [disabled]="report.withoutContractLiabilities">
          </label>
        </td>
        <td style="text-align: center;padding: 0;vertical-align: middle;" [ngClass]="{'empty-cell': !checkboxMatrix[i].includes('debtOfFounders'), 'invalid-label': !hasdebtOfFounders && !report.withoutDebtOfFounders}">
          <label *ngIf="checkboxMatrix[i].includes('debtOfFounders')">
            <input cdp-icheck type="checkbox" [(ngModel)]="row.debtOfFounders"
              (ngModelChange)="onCheckboxChange($event)" [disabled]="report.withoutDebtOfFounders">
          </label>
        </td>
        <td style="text-align: center;padding: 0;vertical-align: middle;"
          [ngClass]="{'empty-cell': !checkboxMatrix[i].includes('revenueOfFuturePeriods'), 'invalid-label': !hasrevenueOfFuturePeriods && !report.withoutRevenueOfFuturePeriods}">
          <label *ngIf="checkboxMatrix[i].includes('revenueOfFuturePeriods')">
            <input cdp-icheck type="checkbox" [(ngModel)]="row.revenueOfFuturePeriods"
              (ngModelChange)="onCheckboxChange($event)" [disabled]="report.withoutRevenueOfFuturePeriods">
          </label>
        </td>
      </tr>
    </ng-container>
    <tr>
      <td colspan="3" style="font-style: italic;">
        Строки, участвующие в расчете, отсутствуют
      </td>
      <td style="text-align: center;padding: 0;vertical-align: middle;" [ngClass]="{'invalid-label': tableCode === 'assets' && !hasunfinishedBuildingActivities && !report.withoutUnfinishedBuildingActivities}">
        <label  *ngIf="tableCode === 'assets'">
          <input cdp-icheck type="checkbox" [(ngModel)]="report.withoutUnfinishedBuildingActivities"
            (ngModelChange)="onCheckboxChange($event)" [disabled]="hasunfinishedBuildingActivities">
        </label>
      </td>
      <td style="text-align: center;padding: 0;vertical-align: middle;" [ngClass]="{'invalid-label': tableCode === 'assets' && !hascontractDebts && !report.withoutContractDebts}">
        <label *ngIf="tableCode === 'assets'">
          <input cdp-icheck type="checkbox" [(ngModel)]="report.withoutContractDebts"
            (ngModelChange)="onCheckboxChange($event)" [disabled]="hascontractDebts">
        </label>
      </td>
      <td style="text-align: center;padding: 0;vertical-align: middle;" [ngClass]="{'invalid-label': tableCode !== 'assets' && !hascontractLiabilities && !report.withoutContractLiabilities}">
        <label *ngIf="tableCode !== 'assets'">
          <input cdp-icheck type="checkbox" [(ngModel)]="report.withoutContractLiabilities"
            (ngModelChange)="onCheckboxChange($event)" [disabled]="hascontractLiabilities">
        </label>
      </td>
      <td style="text-align: center;padding: 0;vertical-align: middle;" [ngClass]="{'invalid-label': tableCode === 'assets' && !hasdebtOfFounders && !report.withoutDebtOfFounders}">
        <label  *ngIf="tableCode === 'assets'">
          <input cdp-icheck type="checkbox" [(ngModel)]="report.withoutDebtOfFounders"
            (ngModelChange)="onCheckboxChange($event)" [disabled]="hasdebtOfFounders">
        </label>
      </td>
      <td style="text-align: center;padding: 0;vertical-align: middle;" [ngClass]="{'invalid-label': tableCode !== 'assets' && !hasrevenueOfFuturePeriods && !report.withoutRevenueOfFuturePeriods}">
        <label *ngIf="tableCode !== 'assets'"> 
          <input cdp-icheck type="checkbox" [(ngModel)]="report.withoutRevenueOfFuturePeriods"
            (ngModelChange)="onCheckboxChange($event)" [disabled]="hasrevenueOfFuturePeriods">
        </label>
      </td>
    </tr>
  </tbody>
</table>