<fieldset [ngClass]="{'show-errors': showErrors}">
  <h2 class="m-t">Приложение для расчета норматива Н2</h2>
  <p>
    <b>Уважаемый застройщик!</b>
  </p>
  <p>Просим Вас заполнить форму, позволяющую повысить достоверность расчета норматива Н2.</p>
  <p>
    Необходимо выбрать строки, участвующие в расчете норматива, установив флаг в соответствующие ячейки.
  </p>
  <br/>

  <app-rates-balance-table [tableCode]="'assets'" (onChange)="calcH2($event)" [report]="report"></app-rates-balance-table>
  <app-rates-balance-table [tableCode]="'liabilities'" (onChange)="calcH2($event)" [report]="report"></app-rates-balance-table>

  <h3>Приложение для расчета норматива Н2</h3>
  <table class="table table-bordered" style="background: #fff;">
    <thead>
      <tr>
        <th colspan="2">Расчет норматива Н2 = Ан/(Д + ЧА)</th>
        <th class="value-cell">{{report.h2}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{b1100Row.code}}</td>
        <td class="title-cell">Внеоборотные активы</td>
        <td class="value-cell">{{b1100}}</td>
      </tr>

      <tr class="title-row">
        <td></td>
        <td  class="title-cell">
          Активы незавершенного стр-ва
        </td>
        <td></td>
      </tr>

      <ng-container *ngFor="let row of unfinishedBuildingActivitiesRows;">
        <tr>
          <td>{{row.code}}</td>
          <td class="title-cell">{{row.name}}</td>
          <td class="value-cell">{{getActualValue(row)}}</td>
        </tr>
      </ng-container>

      <tr>
        <td>{{b1230Row.code}}</td>
        <td class="title-cell">Дебиторская задолженность</td>
        <td class="value-cell">{{b1230}}</td>
      </tr>

      <tr class="title-row">
        <td></td>
        <td  class="title-cell">
          ДЗ по ДДУ с отсрочкой платежа
        </td>
        <td></td>
      </tr>

      <ng-container *ngFor="let row of contractDebtsRows;">
        <tr>
          <td>{{row.code}}</td>
          <td class="title-cell">{{row.name}}</td>
          <td class="value-cell">{{getActualValue(row)}}</td>
        </tr>
      </ng-container>

      <tr>
        <td>{{b1240Row.code}}</td>
        <td class="title-cell">Финансовые вложения</td>
        <td class="value-cell">{{b1240}}</td>
      </tr>

      <tr>
        <td>{{b1400Row.code}}</td>
        <td class="title-cell">Сумма долгосрочных обязательств</td>
        <td class="value-cell">{{b1400}}</td>
      </tr>

      <tr>
        <td>{{b1500Row.code}}</td>
        <td class="title-cell">Сумма краткосрочных обязательств</td>
        <td class="value-cell">{{b1500}}</td>
      </tr>

      <tr class="title-row">
        <td></td>
        <td  class="title-cell">
          Обязательства по ДДУ	
        </td>
        <td></td>
      </tr>

      <ng-container *ngFor="let row of contractLiabilitiesRows;">
        <tr>
          <td>{{row.code}}</td>
          <td class="title-cell">{{row.name}}</td>
          <td class="value-cell">{{getActualValue(row)}}</td>
        </tr>
      </ng-container>

      <tr>
        <td>{{b1600Row.code}}</td>
        <td class="title-cell">{{b1600Row.name}}</td>
        <td class="value-cell">{{b1600}}</td>
      </tr>

      <tr class="title-row">
        <td></td>
        <td  class="title-cell">
          Задолженность учредителей по взносам в УК
        </td>
        <td></td>
      </tr>

      <ng-container *ngFor="let row of debtOfFoundersRows;">
        <tr>
          <td>{{row.code}}</td>
          <td class="title-cell">{{row.name}}</td>
          <td class="value-cell">{{getActualValue(row)}}</td>
        </tr>
      </ng-container>

      <tr>
        <td>{{b1400Row.code}}</td>
        <td class="title-cell">{{b1400Row.name}}</td>
        <td class="value-cell">{{b1400}}</td>
      </tr>

      <tr>
        <td>{{b1500Row.code}}</td>
        <td class="title-cell">{{b1500Row.name}}</td>
        <td class="value-cell">{{b1500}}</td>
      </tr>

      <tr class="title-row">
        <td></td>
        <td  class="title-cell">
          ДБП по гос.помощи или безвозмездном получении имущества
        </td>
        <td></td>
      </tr>

      <ng-container *ngFor="let row of revenueOfFuturePeriodsRows;">
        <tr>
          <td>{{row.code}}</td>
          <td class="title-cell">{{row.name}}</td>
          <td class="value-cell">{{getActualValue(row)}}</td>
        </tr>
      </ng-container>

    </tbody>
  </table>

  <h2 class="m-t">III. Сведения о нормативах оценки финансовой устойчивости деятельности застройщика</h2>
  <div class="row">
    <div class="col-lg-12">

      <div class="row">
        <label class="col-lg-8 control-label our-control-label">
          Норматив обеспеченности обязательств (Н1)
        </label>
        <div class="col-lg-4 m-b-sm">
          <input [(ngModel)]="report.h1" name="h1" type="text" disabled class="form-control our-control">
        </div>
      </div>

      <div class="row">
        <label class="col-lg-8 control-label our-control-label">
          Норматив целевого использования средств (Н2)
        </label>
        <div class="col-lg-4 m-b-sm">
          <input [(ngModel)]="report.h2" name="h2" type="text" disabled class="form-control our-control">
        </div>
      </div>
    </div>
  </div>
</fieldset>