<fieldset [ngClass]="{'show-errors': showErrors}">
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group">
        <label>
          Территория строительства
        </label>
      </div>
      <div class="row">
        <label class="col-lg-8 control-label our-control-label">
          Осуществляет ли Ваша компания строительство объектов в рамках ФЗ № 214-ФЗ от 30.12.2004 не только на
          территорории Г.Москвы, но и за ее пределами?<span class="our-mandatory">*</span>
        </label>
        <div class="col-lg-4 m-b-sm">
          <div class="i-checks">
            <label>
              <input cdp-icheck type="radio" name="buildingOutsideOfMoscow" [(ngModel)]="report.buildingOutsideOfMoscow"
                value="true">
              Осуществляет
            </label>
            <br />
            <label>
              <input cdp-icheck type="radio" name="buildingOutsideOfMoscow" [(ngModel)]="report.buildingOutsideOfMoscow"
                value="false">
              Не осуществляет
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-t">
    <div class="col-lg-12">
      <div class="form-group">
        <label>Приложение для расчета норматива обеспеченности обязательств (Н1)</label>
      </div>

      <div class="row">
        <label class="col-lg-8 control-label our-control-label">
          Норматив обеспеченности обязательств (Н1)<span class="our-mandatory">*</span>
        </label>
        <div class="col-lg-4 m-b-sm">
          <input [(ngModel)]="report.h1" name="h1" type="text" disabled class="form-control our-control">
        </div>
      </div>

      <div class="row">
        <label class="col-lg-8 control-label our-control-label">
          Стоимость активов застройщика (стр. баланса 1600)
        </label>
        <div class="col-lg-4 m-b-sm">
          <input [(ngModel)]="report.b1600" name="b1600" type="text" disabled class="form-control our-control">
        </div>
      </div>

      <div class="row">
        <label class="col-lg-8 control-label our-control-label">
          Сумма обязательств застройщика перед участниками долевого строительства (исходя из цены договоров участия в
          долевом строительстве п.13 II. Сведения о многоквартирном доме и (или) ином объекте недвижимости, строящемся
          (создаваемом) застройщиком с привлечением денежных средств участников долевого строительства, рубли/
          тыс.рублей)<span class="our-mandatory" *ngIf="report.buildingOutsideOfMoscow === 'true'">*</span>
        </label>
        <div class="col-lg-4 m-b-sm">
          <input [(ngModel)]="report.b16000" name="b16000" type="text" (ngModelChange)="calcH1($event)" mask="0*.9*"
            [dropSpecialCharacters]="false"
            required [disabled]="report.buildingOutsideOfMoscow === 'false'" class="form-control our-control">
        </div>
      </div>

      <div class="row">
        <label class="col-lg-8 control-label our-control-label">
          Укажите единицы измерения бухгалтерского баланса, в которых отображены значения, загруженные из файлов Баланса
          и Отчета Вашей автоматизированной бухгалтерской системы<span class="our-mandatory">*</span>
        </label>
        <div class="col-lg-4 m-b-sm">
          <ng-select name="measuringUnit" [items]="measuringUnits" [multiple]="false" [closeOnSelect]="true" required
            [hideSelected]="true" bindLabel="name" bindValue="code" class="our-select" [clearable]="false"
            [(ngModel)]="report.measuringUnit" (ngModelChange)="onMeasuringUnitsChange($event)">
          </ng-select>
        </div>
      </div>
    </div>
  </div>
</fieldset>