<fieldset [ngClass]="{'show-errors': showErrors}">
  <p>
    <b>Уважаемый застройщик!</b>
  </p>
  <p class="mandatory">Вы перенаправлены на страницу расчета норматива размера собственных средств застройщика (НСС). Согласно ПП №1683 от 26 .12.18 застройщик, получивший ВСЕ разрешения на строительство (РНС) после 1 июля 2018 г., обязан предоставлять в контролирующий орган расчет НСС. Если вы получали РНС ранее 1 июля 2018 г., то необходимо вернуться на страницу «1. Общая информация» и проверить корректность введенных данных в отношении РНС, при необходимости скорректировать (сохраняйте историю ранее выданных РНС, не удаляйте РНС с истекшим сроком действия и РНС, по которым строительство завершено).</p>
  <p>
    Просим Вас заполнить форму, позволяющую повысить достоверность расчета собственных средств.
  </p>
  <p>
    Необходимо выбрать строки, участвующие в расчете собственных средств, установив флаг в соответствующие ячейки.
  </p>
  <p>
    Для выбора доступны только те строки бухгалтерского баланса, которые соответствуют утвержденным Правилам расчета собственных средств застройщика (Постановление Правительства РФ от 11.06.2018 №673).
    <br/>
    *- правила расчета собственных средств застройщика.
  </p>
  <br/>
  <app-rates-nss-balance-table [tableCode]="'assets'" (onChange)="calcNSS($event)" [report]="report"></app-rates-nss-balance-table>
  <app-rates-nss-balance-table [tableCode]="'liabilities'" (onChange)="calcNSS($event)" [report]="report"></app-rates-nss-balance-table>

  <h3>Результат</h3>
  <table class="table table-bordered" style="background: #fff;">
    <thead>
      <tr>
        <th colspan="2">Собственные средства = (НС + ДЗналог + ЗС + ДЗаванс + ДЗпрочие + ДЗдду + НДС + ДСбанк) - ((Б1400 + Б1500) - ДБПгос.помощь - Б1420)</th>
        <th class="value-cell">{{report.pf}}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="title-row">
        <td></td>
        <td class="title-cell">
          Активы незавершенного стр-ва (п.4 подп. а) правил*)
        </td>
        <td></td>
      </tr>
      <ng-container *ngFor="let row of unfinishedBuildingActivities673Rows;">
        <tr>
          <td>{{row.code}}</td>
          <td class="title-cell">{{row.name}}</td>
          <td class="value-cell">{{getActualValue(row)}}</td>
        </tr>
      </ng-container>

      <tr class="title-row">
        <td></td>
        <td class="title-cell">
          ДЗ по налогам и сборам (п.4 подп. б) правил*)	
        </td>
        <td></td>
      </tr>
      <ng-container *ngFor="let row of taxesAndFees673Rows;">
        <tr>
          <td>{{row.code}}</td>
          <td class="title-cell">{{row.name}}</td>
          <td class="value-cell">{{getActualValue(row)}}</td>
        </tr>
      </ng-container>

      <tr class="title-row">
        <td></td>
        <td class="title-cell">
          Объекты завершенного стр-ва (п.4 подп. в) правил*)	
        </td>
        <td></td>
      </tr>
      <ng-container *ngFor="let row of finishedBuildingActivities673Rows;">
        <tr>
          <td>{{row.code}}</td>
          <td class="title-cell">{{row.name}}</td>
          <td class="value-cell">{{getActualValue(row)}}</td>
        </tr>
      </ng-container> 
      
      <tr class="title-row">
        <td></td>
        <td class="title-cell">
          ДЗ по авансам (п.4 подп. г) правил*)	
        </td>
        <td></td>
      </tr>
      <ng-container *ngFor="let row of prepayment673Rows;">
        <tr>
          <td>{{row.code}}</td>
          <td class="title-cell">{{row.name}}</td>
          <td class="value-cell">{{getActualValue(row)}}</td>
        </tr>
      </ng-container>

      <tr class="title-row">
        <td></td>
        <td class="title-cell">
          ДЗ прочие расходы (п.4 подп. д) правил*)	
        </td>
        <td></td>
      </tr>
      <ng-container *ngFor="let row of otherCosts673Rows;">
        <tr>
          <td>{{row.code}}</td>
          <td class="title-cell">{{row.name}}</td>
          <td class="value-cell">{{getActualValue(row)}}</td>
        </tr>
      </ng-container>

      <tr class="title-row">
        <td></td>
        <td class="title-cell">
          ДЗ по ДДУ с отсрочкой платежа (п.4 подп. е) правил*)	
        </td>
        <td></td>
      </tr>
      <ng-container *ngFor="let row of contractDebts673Rows;">
        <tr>
          <td>{{row.code}}</td>
          <td class="title-cell">{{row.name}}</td>
          <td class="value-cell">{{getActualValue(row)}}</td>
        </tr>
      </ng-container>

      <tr class="title-row">
        <td></td>
        <td class="title-cell">
          НДС предъявленные застройщику поставщиками (п.4 подп. ж) правил*)	
        </td>
        <td></td>
      </tr>
      <ng-container *ngFor="let row of valueAddedTax673Rows;">
        <tr>
          <td>{{row.code}}</td>
          <td class="title-cell">{{row.name}}</td>
          <td class="value-cell">{{getActualValue(row)}}</td>
        </tr>
      </ng-container>

      <tr class="title-row">
        <td></td>
        <td class="title-cell">
          ДС на счетах в уполномоченном банке (п.4 подп. з) правил*)	
        </td>
        <td></td>
      </tr>
      <ng-container *ngFor="let row of cashInBankAccounts673Rows;">
        <tr>
          <td>{{row.code}}</td>
          <td class="title-cell">{{row.name}}</td>
          <td class="value-cell">{{getActualValue(row)}}</td>
        </tr>
      </ng-container>

      <tr>
        <td>{{b1400Row.code}}</td>
        <td class="title-cell">Сумма долгосрочных обязательств</td>
        <td class="value-cell">{{b1400}}</td>
      </tr>
      <tr>
        <td>{{b1500Row.code}}</td>
        <td class="title-cell">Сумма краткосрочных обязательств</td>
        <td class="value-cell">{{b1500}}</td>
      </tr>

      <tr class="title-row">
        <td></td>
        <td class="title-cell">
          ДБП по гос.помощи или безвозмездном получении имущества (п.5 подп. а) правил*)
        </td>
        <td></td>
      </tr>
      <ng-container *ngFor="let row of revenueOfFuturePeriods673Rows;">
        <tr>
          <td>{{row.code}}</td>
          <td class="title-cell">{{row.name}}</td>
          <td class="value-cell">{{getActualValue(row)}}</td>
        </tr>
      </ng-container>

      <tr>
        <td>{{b1420Row.code}}</td>
        <td class="title-cell">{{b1420Row.name}}</td>
        <td class="value-cell">{{b1420}}</td>
      </tr>

      <tr>
        <td colspan="2">Проектная стоимость строительства по состоянию на отчетную дату (млн. рублей)</td>
        <td class="value-cell">{{sumReportCost}}</td>
      </tr>
      <tr>
        <td colspan="2">Норматив размера собственных средств застройщика (%)</td>
        <td class="value-cell">{{report.normPf}}</td>
      </tr>
    </tbody>
  </table>

  <h2 class="m-t">III. Сведения о нормативах оценки финансовой устойчивости деятельности застройщика</h2>
  <div class="row">
    <div class="col-lg-12">

      <div class="row">
        <label class="col-lg-8 control-label our-control-label">
          Норматив обеспеченности обязательств (Н1)
        </label>
        <div class="col-lg-4 m-b-sm">
          <input [(ngModel)]="report.h1" name="h1" type="text" disabled class="form-control our-control">
        </div>
      </div>
      <div class="row">
        <label class="col-lg-8 control-label our-control-label">
          Норматив целевого использования средств (Н2)
        </label>
        <div class="col-lg-4 m-b-sm">
          <input [(ngModel)]="report.h2" name="h2" type="text" disabled class="form-control our-control">
        </div>
      </div>
      <div class="row">
        <label class="col-lg-8 control-label our-control-label">
          Норматив размера собственных средств застройщика (%)
        </label>
        <div class="col-lg-4 m-b-sm">
          <input [(ngModel)]="report.normPf" name="normPf" type="text" disabled class="form-control our-control">
        </div>
      </div>
    </div>
  </div>
</fieldset>