<table class="table table-hover">
  <thead>
    <tr>
      <th>№</th>
      <th>Обобщенное наименование работ</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let scheduleWork of scheduleWorks; index as i;" (click)="edit(i)" style="cursor: pointer;"
      class="items-default" [ngClass]="{'items-error':  hasErrors(scheduleWork)}">
      <td>
        {{i + 1}}
      </td>
      <td>
        {{scheduleWork.workType.name}}
      </td>
    </tr>
  </tbody>
</table>