<div id="wrapper">
  <div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom white-bg">
      <div class="container">
        <div class="m-t m-b">
          <div style="position: absolute;margin-left: 43px;">
            <h2 class="m-t-xs" style="font-weight: 400;">Москомстройинвест</h2>
          </div>
          <img src="./assets/logo.png" height="40">
        </div>
      </div>
    </div>
    <div class="wrapper wrapper-content" style="padding-top: 20px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ibox float-e-margins">
              <div class="ibox-content">
                <div style="margin-left: 8px;margin-right: 8px;" class="m-b-md">
                  <div class="pull-right">
                    <a href="#" class="m-r-sm">Инструкция</a>
                    <a href="#">Памятка</a>
                  </div>
                  <h2 class="m-b-xs">
                    Форма подачи ежеквартальной отчетности застройщиков
                  </h2>
                  <p>
                    об осуществлении деятельности, связанной с привлечением денежных средств участников долевого
                    строительства
                  </p>
                </div>
                <app-report></app-report>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="pull-right">
          Техническая поддержка: +7 (495) 620-29-35
        </div>
        <div>
          Правительство Москвы. Москомстройинвест
        </div>
      </div>
    </div>
  </div>
</div>