<fieldset [ngClass]="{'show-errors': showErrors}">
  <h2>Документы (выгрузка баланса в формате xls)</h2>
  <p>Добавьте в форму ниже файлы экспорта из Вашей автоматизированной бухгалтерской системы Бухгалтерского баланса и
    Отчета о финансовых результатах в формате .xls.</p>
  <p>В файлах формата .xls не допускается внесение/изменение/правка данных в РУЧНОМ РЕЖИМЕ. До загрузки убедитесь, что
    файл или файлы содержат ВСЕ заполненные поля Баланса и Отчета.</p>
  <p>Проверьте загруженные данные, если все верно, переходите к следующему шагу.</p>
  <p>Если загруженные данные отобразились некорректно или же были подгружены неверные файлы, обновите данные и повторите
    загрузку.</p>
  <button type="button" class="btn btn-warning mr-3" (click)="clear()" (disabled)="loading">
    Очистить всё
  </button>
  <button type="button" class="btn btn-primary" (click)="load()" (disabled)="loading">
    Добавить файл
    <input type="file" style="display: none" #loadedReport (change)="handleFileInput($event.target.files)">
  </button>
</fieldset>

<div *ngIf="report.balanceNodes.assets && report.balanceNodes.assets.length">
  <app-balance-table [tableData]="report.balanceNodes.assets" [tableCode]="'Активы'"></app-balance-table>
</div>

<div *ngIf="report.balanceNodes.liabilities && report.balanceNodes.liabilities.length">
  <app-balance-table [tableData]="report.balanceNodes.liabilities" [tableCode]="'Пассивы'"></app-balance-table>
</div>

<div *ngIf="report.balanceNodes.report && report.balanceNodes.report.length">
  <app-balance-table [tableData]="report.balanceNodes.report" [tableCode]="'Отчет о финансовых результатах'" [isReport]="true">
  </app-balance-table>
</div>