<fieldset>
  <h2>Отчетность сформирована.</h2>
  <h3>Для завершения процедуры подачи отчетности НЕОБХОДИМО:</h3>
  <ul>
    <li>
      <a (click)="exportXML()" href="#">Сохранить сформированный XML файл на компьютер</a> и проверить его полноту и содержимое. Этот файл будет подписан
      Вашей ЭЦП и использоваться в качестве официального и юридически значимого документа. В случае, если Вы заметили
      неточные или неполные данные, процедуру ввода отчетности следует повторить.
    </li>
    <li>
      <a href="https://www.mos.ru/pgu/ru/drafts/" target="_blank">
        Вернуться в Личный кабинет Портала государственных услуг для завершения процедуры подачи заявки.
      </a>
    </li>
    <li>
      Pdf версия отчетности <a (click)="exportPDF()" href="#">скачать</a>
    </li>
  </ul>
</fieldset>



