<fieldset [ngClass]="{'show-errors': showErrors}">
  <h2>Предыдущий отчет</h2>
  <p>Для удобства заполнения формы вы можете загрузить XML файл предыдущего отчета и
    откорректировать изменившиеся сведения</p>
  <button type="button" class="btn btn-primary" (click)="load()">
    Загрузить предыдущий отчет
  </button>
  <br><br>
  <h2 class="m-b">Период отчетности<small><span class="our-mandatory">*</span></small></h2>
  <div class="pull-left m-r-sm" style="width: 130px;">
    <ng-select name="ikvartal" [items]="ikvartals" [multiple]="false" [closeOnSelect]="true" [hideSelected]="true"
      required bindLabel="name" bindValue="value" [placeholder]="'Квартал'" class="our-select"
      [(ngModel)]="report.ikvartal">
    </ng-select>
  </div>
  <div class="pull-left" style="width: 130px;">
    <ng-select name="year" [items]="years" [multiple]="false" [closeOnSelect]="true" [hideSelected]="true" required
      [placeholder]="'Год'" class="our-select" [(ngModel)]="report.year">
    </ng-select>
  </div>
  <div class="clearfix m-b-xs"></div>
  <br>
  <h2>I. Сведения о застройщике</h2>
  <p class="m-b-md">Сведения о застройщике, осуществляющем деятельность, связанную с привлечением
    денежных средств участников долевого строительства для строительства (создания) многоквартирных
    домов и (или) иных объектов недвижимости</p>
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group">
        <label>1. Фирменное наименование<span class="our-mandatory">*</span></label>
        <input [(ngModel)]="report.organizationName" name="organizationName" type="text" class="form-control required"
          required (ngModelChange)="reportService.onAppendixToReportService(report.Appendix2s)">
      </div>
      <div class="form-group">
        <label>2. Сокращенное фирменное наименование<span class="our-mandatory">*</span></label>
        <input [(ngModel)]="report.shortName" name="shortName" type="text" class="form-control required"
               required (ngModelChange)="reportService.onAppendixToReportService(report.Appendix2s)">
      </div>
      <div class="form-group">
        <label>3. Местонахождение (юридический адрес)</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">Индекс<span class="our-mandatory">*</span></label>
        <div class="col-lg-7 m-b-sm">
          <input [(ngModel)]="report.devIndex" name="devIndex" type="text" mask="000000" required (ngModelChange)="reportService.onAppendixToReportService(report.Appendix2s)"
            class="form-control our-control">
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">Субъект РФ<span class="our-mandatory">*</span></label>
        <div class="col-lg-7 m-b-sm">
          <ng-select name="devSubject" [items]="subjects" [multiple]="false" [closeOnSelect]="true" required
            [hideSelected]="true" bindLabel="name" bindValue="name" [placeholder]="'Субъект РФ'" class="our-select"
            [(ngModel)]="report.devSubject" (ngModelChange)="reportService.onAppendixToReportService(report.Appendix2s)">
          </ng-select>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">Район субъекта РФ</label>
        <div class="col-lg-7 m-b-sm">
          <input [(ngModel)]="report.devDistrict" (ngModelChange)="reportService.onAppendixToReportService(report.Appendix2s)" name="devDistrict" type="text" class="form-control our-control">
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">Вид населенного пункта</label>
        <div class="col-lg-7 m-b-sm">
          <ng-select name="devSettlementKind" [items]="settlementKinds" [multiple]="false" [closeOnSelect]="true"
            [hideSelected]="true" bindLabel="name" bindValue="name" [placeholder]="'Вид населенного пункта'"
            class="our-select" [(ngModel)]="report.devSettlementKind" (ngModelChange)="reportService.onAppendixToReportService(report.Appendix2s)">
          </ng-select>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">Наименование населенного пункта</label>
        <div class="col-lg-7 m-b-sm">
          <input [(ngModel)]="report.devSettlementName" name="devSettlementName" type="text"
            class="form-control our-control" (ngModelChange)="reportService.onAppendixToReportService(report.Appendix2s)">
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">Элемент улично-дорожной сети</label>
        <div class="col-lg-7 m-b-sm">
          <ng-select name="devRoadNetworkElement" [items]="roadNetworkElements" [multiple]="false"
            [closeOnSelect]="true" [hideSelected]="true" bindLabel="name" bindValue="name"
            [placeholder]="'Элемент улично-дорожной сети'" class="our-select"
            [(ngModel)]="report.devRoadNetworkElement" (ngModelChange)="reportService.onAppendixToReportService(report.Appendix2s)">
          </ng-select>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">Наименование элемента улично-дорожной сети</label>
        <div class="col-lg-7 m-b-sm">
          <input [(ngModel)]="report.devRoadNetworkElementName" (ngModelChange)="reportService.onAppendixToReportService(report.Appendix2s)" name="devRoadNetworkElementName" type="text"
            class="form-control our-control">
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">Тип здания (сооружения) застройщика</label>
        <div class="col-lg-7 m-b-sm">
          <ng-select name="devBuildingType" [items]="buildingTypes" [multiple]="false" [closeOnSelect]="true"
            [hideSelected]="true" bindLabel="name" bindValue="name"
            [placeholder]="'Тип здания (сооружения) застройщика'" class="our-select"
            [(ngModel)]="report.devBuildingType" (ngModelChange)="reportService.onAppendixToReportService(report.Appendix2s)">
          </ng-select>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">Номер здания</label>
        <div class="col-lg-7 m-b-sm">
          <input [(ngModel)]="report.devBuildingNumber" name="devBuildingNumber" type="text"
            class="form-control our-control" (ngModelChange)="reportService.onAppendixToReportService(report.Appendix2s)">
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">Тип здания (сооружения) застройщика 2</label>
        <div class="col-lg-7 m-b-sm">
          <ng-select name="devBuildingType2" [items]="buildingTypes" [multiple]="false" [closeOnSelect]="true"
            [hideSelected]="true" bindLabel="name" bindValue="name"
            [placeholder]="'Тип здания (сооружения) застройщика 2'" class="our-select"
            [(ngModel)]="report.devBuildingType2" (ngModelChange)="reportService.onAppendixToReportService(report.Appendix2s)">
          </ng-select>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">Номер здания 2</label>
        <div class="col-lg-7 m-b-sm">
          <input [(ngModel)]="report.devBuildingNumber2" name="devBuildingNumber2" type="text"
            class="form-control our-control">
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">Тип помещения</label>
        <div class="col-lg-7 m-b-sm">
          <ng-select name="devRoomType" [items]="roomTypes" [multiple]="false" [closeOnSelect]="true"
            [hideSelected]="true" bindLabel="name" bindValue="name" [placeholder]="'Тип помещения'" class="our-select"
            [(ngModel)]="report.devRoomType" (ngModelChange)="reportService.onAppendixToReportService(report.Appendix2s)">
          </ng-select>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">Номер</label>
        <div class="col-lg-7 m-b-sm">
          <input [(ngModel)]="report.devNumber" name="devNumber" type="text" class="form-control our-control"
                 (ngModelChange)="reportService.onAppendixToReportService(report.Appendix2s)">
        </div>
      </div>
    </div>

    <div class="col-lg-12 m-t">
      <div class="form-group">
        <label>4. Единоличный исполнительный орган</label>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="row">
        <label class="col-lg-5 control-label our-control-label"></label>
        <div class="col-lg-7 m-b-sm">
          <div class="i-checks">
            <label>
              <input cdp-icheck type="radio" name="seaIsOrganization" [(ngModel)]="report.seaIsOrganization" value="true" checked
                (ngModelChange)="onChangeSeaIsOrganization($event); reportService.onAppendixToReportService(report.Appendix2s)">
              Юридической лицо
            </label>

            <label style="margin-left: 15px;">
              <input cdp-icheck type="radio" name="seaIsOrganization" [(ngModel)]="report.seaIsOrganization"
                value="false" (ngModelChange)="onChangeSeaIsOrganization($event); reportService.onAppendixToReportService(report.Appendix2s)">
              Физическое лицо
            </label>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="report.seaIsOrganization === 'true'" class="col-lg-12">
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">Фирменное наименование управляющей организации<span
            class="our-mandatory">*</span></label>
        <div class="col-lg-7 m-b-sm">
          <input [(ngModel)]="report.seaOrganizationName" name="seaOrganizationName" type="text"
            class="form-control our-control" (ngModelChange)="reportService.onAppendixToReportService(report.Appendix2s)">
        </div>
      </div>
    </div>

    <div *ngIf="report.seaIsOrganization === 'true'" class="col-lg-12">
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">ИНН управляющей организации<span
            class="our-mandatory">*</span></label>
        <div class="col-lg-7 m-b-sm">
          <input [(ngModel)]="report.seaOrganizationINN" (ngModelChange)="reportService.onAppendixToReportService(report.Appendix2s)" name="seaOrganizationINN" type="text" mask="000000000099"
            [ngClass]="{'ng-invalid ng-inn-invalid': showInnError}" required class="form-control our-control">
        </div>
      </div>
    </div>

    <div *ngIf="report.seaIsOrganization === 'false'" class="col-lg-12">
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">Имя<span class="our-mandatory">*</span></label>
        <div class="col-lg-7 m-b-sm">
          <input [(ngModel)]="report.seaPersonFirstName" name="seaPersonFirstName" type="text" required
            class="form-control our-control" (ngModelChange)="reportService.onAppendixToReportService(report.Appendix2s)">
        </div>
      </div>
    </div>

    <div *ngIf="report.seaIsOrganization === 'false'" class="col-lg-12">
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">Фамилия<span class="our-mandatory">*</span></label>
        <div class="col-lg-7 m-b-sm">
          <input [(ngModel)]="report.seaPersonLastName" name="seaPersonLastName" type="text" required
            class="form-control our-control" (ngModelChange)="reportService.onAppendixToReportService(report.Appendix2s)">
        </div>
      </div>
    </div>

    <div *ngIf="report.seaIsOrganization === 'false'" class="col-lg-12">
      <div class="row">
        <label class="col-lg-5 control-label our-control-label">Отчество</label>
        <div class="col-lg-7 m-b-sm">
          <input [(ngModel)]="report.seaPersonMiddleName" name="seaPersonMiddleName" type="text"
            class="form-control our-control" (ngModelChange)="reportService.onAppendixToReportService(report.Appendix2s)">
        </div>
      </div>
    </div>

    <div class="col-lg-12  m-t">
      <div class="form-group">
        <label>5. Основной государственный регистрационный номер (ОГРН)</label>
        <input [(ngModel)]="report.OGRN" name="OGRN" type="text" class="form-control" mask="00000000000099"
               (ngModelChange)="reportService.onAppendixToReportService(report.Appendix2s)">
      </div>
      <div class="form-group">
        <label>6. Дата государственной регистрации</label>
        <div class="input-group">
          <cdp-ngx-date-select [(ngModel)]="report.regDate" [model]="report.regDate" (ngModelChange)="reportService.onAppendixToReportService(report.Appendix2s)"></cdp-ngx-date-select>
        </div>
      </div>
      <div class="form-group">
        <label>7. Идентификационный номер налогоплательщика (ИНН)<span class="our-mandatory">*</span></label>
        <input [(ngModel)]="report.INN" name="INN" type="text" class="form-control required" mask="000000000099"
        [ngClass]="{'ng-invalid ng-inn-invalid': showInn2Error}"
          required (ngModelChange)="reportService.onAppendixToReportService(report.Appendix2s)">
      </div>
    </div>
  </div>

  <h2>II. Сведения о многоквартирном доме и (или) ином объекте недвижимости, строящемся (создаваемом) застройщиком с
    привлечением денежных средств участников долевого строительства</h2>
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group">
        <button type="button" class="btn btn-primary m-t-xs" (click)="addAppendix()">Добавить сведения</button>

        <div class="table-responsive">
          <table class="table table-hover" style="background: #fff;">
            <tbody>
              <tr *ngFor="let appendix2 of report.Appendix2s; index as i;">
                <td>
                  №{{i + 1}} - {{appendix2.placeObject}}
                </td>
                <td width="1">
                  <button class="btn btn-default" (click)="editAppendix(i)">
                    <i class="fa fa-pencil"></i>
                  </button>
                </td>
                <td width="1">
                  <button class="btn btn-default" (click)="removeAppendix(i)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</fieldset>



