<div class="steps" [ngClass]="{'show-errors': showErrors}">
  <div class="steps__menu">
    <div class="steps__menu__item" (click)="changeStep('h1')" [ngClass]="{'steps__menu__item--active': currentStep === 'h1'}">Н1</div>
    <div class="steps__menu__item" (click)="changeStep('h2')" [ngClass]="{'steps__menu__item--active': currentStep === 'h2'}">Н2</div>
    <div class="steps__menu__item" *ngIf="showNss" (click)="changeStep('nss')" [ngClass]="{'steps__menu__item--active': currentStep === 'nss'}">НСС</div>
  </div>
  <div class="steps__content">
    <div class="steps__content--h1" *ngIf="currentStep === 'h1'">
      <app-rates-h1 [report]="report"></app-rates-h1>
    </div>
    <div class="steps__content--h2" *ngIf="currentStep === 'h2'">
      <app-rates-h2 [report]="report"></app-rates-h2>
    </div>
    <div class="steps__content--nss" *ngIf="currentStep === 'nss'">
      <app-rates-nss [report]="report"></app-rates-nss>
    </div>
  </div>
</div>
