.steps {
  &__menu {
    display: flex;
    background-color: #fff;
    padding-bottom: 10px;

    &__item {
      display: block;
      padding: 8px;
      text-decoration: none;
      border-radius: 5px;
      border: none;
      font-weight: normal;
      background: #eee;
      color: #aaa;
      cursor: pointer;
      min-width: 140px;
      text-align: center;
      margin-right: 10px;

      &--active {
        background: #1ab394;
        color: #fff;
        cursor: default;
        border: none;
      }
    }
  }

  &__content {
  }
}
