<fieldset [ngClass]="{'show-errors': showErrors}">
  <div>
    <div class="form-group">
      <h3>Справка о наличии просроченных обязательств по договорам</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group">
        <button type="button" class="btn btn-primary m-t-xs" (click)="addObligationsRef()"
          [disabled]="hasNoOverdueObligations">
          Добавить Справку
        </button>

        <div class="m-l" style="display: inline-block;">
          <label [ngClass]="{'ng-invalid': showObligationsRefError}">
            <!--  [disabled]="report.withoutUnfinishedBuildingActivities" -->
            <input cdp-icheck type="checkbox" [(ngModel)]="hasNoOverdueObligations"
              (ngModelChange)="onChangeHasNoOverdueObligations($event)">

            <span *ngIf="showObligationsRefError">
              Вы предоставили не все справки
            </span>
            <span *ngIf="!showObligationsRefError">
              Просроченные обязательства отсутствуют
            </span>
          </label>
        </div>

        <div class="table-responsive m-t-md" *ngIf="report.obligationsRef.items.length">
          <table class="table table-hover" style="background: #fff;">
            <thead>
              <tr style="font-size: 11px;">
                <th>Адрес объекта</th>
                <th>Первоначальный срок передачи</th>
                <th>Причина</th>
                <th width="1"></th>
                <th width="1"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let obligationsRefItem of report.obligationsRef.items; index as i;">
                <td>{{obligationsRefItem.oAddress}}</td>
                <td>{{obligationsRefItem.tDate | date:"dd.MM.yyyy"}}</td>
                <td>{{obligationsRefItem.reason}}</td>
                <td>
                  <button class="btn btn-default" (click)="editObligationsRef(i)">
                    <i class="fa fa-pencil"></i>
                  </button>
                </td>
                <td>
                  <button class="btn btn-default" (click)="removeObligationsRef(i)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="form-group">
      <h3>Справка о целевом расходовании денежных средств</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group">
        <button type="button" class="btn btn-primary m-t-xs" (click)="addOtherCosts()"
          [disabled]="hasNoOtherCosts">
          Добавить Справку
        </button>

        <div class="m-l" style="display: inline-block;">
          <label [ngClass]="{'ng-invalid': showOtherCostsError}">
            <!--  [disabled]="report.withoutUnfinishedBuildingActivities" -->
            <input cdp-icheck type="checkbox" [(ngModel)]="hasNoOtherCosts"
              (ngModelChange)="onChangeHasNoOtherCosts($event)">

              <span *ngIf="showOtherCostsError">
                Расходы не соответствуют заявленным
              </span>
              <span *ngIf="!showOtherCostsError">
                Целевые расходы отсутствую
              </span>
          </label>
        </div>

        <div class="table-responsive m-t-md" *ngIf="report.otherCostsRef.items.length">
          <table class="table table-hover" style="background: #fff;">
            <thead>
              <tr style="font-size: 11px;">
                <th>Наимнование вида расхода</th>
                <th>Сумма (тыс.руб.)</th>
                <th>Ссылка на пункт ст.18 214-ФЗ</th>
                <th width="1"></th>
                <th width="1"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let otherCostsRefItem of report.otherCostsRef.items; index as i;">
                <td>{{otherCostsRefItem.name}}</td>
                <td>{{otherCostsRefItem.sum}}</td>
                <td>{{otherCostsRefItem.pdLink}}</td>
                <td>
                  <button class="btn btn-default" (click)="editOtherCosts(i)">
                    <i class="fa fa-pencil"></i>
                  </button>
                </td>
                <td>
                  <button class="btn btn-default" (click)="removeOtherCosts(i)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</fieldset>