<fieldset [ngClass]="{'show-errors': showErrors}">
  <div>
    <div class="form-group">
      <h3>Сводная накопительная ведомость</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group">
        <button type="button" class="btn btn-primary m-t-xs" (click)="addConsolidatedCumulativeSheet()">
          Добавить Ведомость
        </button>

        <div class="table-responsive m-t-md" *ngIf="report.consolidatedCumulativeSheets.length">
          <table class="table table-hover" style="background: #fff;">
            <thead>
              <tr style="font-size: 11px;">
                <th>Разрешение на строительство №</th>
                <th>Адрес объекта</th>
                <th>Актуальность</th>
                <th width="1"></th>
                <th width="1"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let consolidatedCumulativeSheet of report.consolidatedCumulativeSheets; index as i;">
                <td>
                  <span *ngIf="consolidatedCumulativeSheet.SheetBuildingPermit">
                    {{consolidatedCumulativeSheet.SheetBuildingPermit.permitNumber}}<br>от
                    {{consolidatedCumulativeSheet.SheetBuildingPermit.permitDate | date: "dd.MM.yyyy"}}
                  </span>
                </td>
                <td>{{consolidatedCumulativeSheet.sheetBuildingAddress}}</td>
                <td>
                  <span *ngIf="consolidatedCumulativeSheet.SheetBuildingPermit">
                    {{getStatus(consolidatedCumulativeSheet.SheetBuildingPermit.permitNumber)}}
                  </span>
                </td>
                <td>
                  <button class="btn btn-default" (click)="editConsolidatedCumulativeSheet(i)">
                    <i class="fa fa-pencil"></i>
                  </button>
                </td>
                <td>
                  <button class="btn btn-default" (click)="removeConsolidatedCumulativeSheet(i)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <p *ngIf="showErrors" class="invalid-value">
          Не все РНС учтены в сводной накопительной ведомости
        </p>

      </div>
    </div>
  </div>
</fieldset>



