/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@reinform-cdp/main-theme/dist/index.css";
@import "~@reinform-cdp/widgets/dist/index.css";
@import "~@reinform-cdp/skeleton/dist/index.css";
@import "~icheck/skins/square/orange.css";
@import "~jsoneditor/dist/jsoneditor.css";
// @import "~@ng-select/ng-select/themes/default.theme.css";
@import "~ladda/dist/ladda-themeless.min.css";
@import "~animate.css/animate.css";
@import "~ui-select/dist/select.css";
@import "~ngdropzone/dist/ng-dropzone.css";
@import "~angular-toastr/dist/angular-toastr.css";
@import "~angular-block-ui/dist/angular-block-ui.css";
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";
$fa-font-path: "~fontawesome-pro/webfonts";
@import "~fontawesome-pro/scss/v4-shims.scss";
@import "~fontawesome-pro/scss/fontawesome.scss";
@import "~fontawesome-pro/scss/brands.scss";
@import "~fontawesome-pro/scss/light.scss";
@import "~fontawesome-pro/scss/regular.scss";
@import "~fontawesome-pro/scss/solid.scss";

.modal-max {
  max-width: 1100px;
  width: 90%;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal.child-modal {
  z-index: 3060 !important;
}

.modal-backdrop.child-modal-backdrop {
  z-index: 3050 !important;
}

bs-datepicker-container,
bs-daterangepicker-container {
  z-index: 4050 !important;
}

.btn-group.ng-wizard-btn-group-extra .btn {
  border-radius: 3px !important;
}

.ng-wizard-main .nav-tabs {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.ng-wizard-main .nav-tabs li.nav-item {
  flex: 1 1 0px;
}

.ng-wizard-toolbar.ng-wizard-toolbar-bottom.justify-content-end {
  display: flex;
  justify-content: flex-end !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.modal-title {
  display: inline-block;
}

.ng-wizard-main .nav-tabs {
  border: none;
  justify-content: space-between;
}

.nav.nav-tabs li {
  flex: 1 1 0px;
}

.step-content fieldset {
  // width: 95%;
  height: 95%;
  padding: 2.5%;
}

.mandatory {
  color: #ed5565;
}

.tab-content {
  background: #eee;
  display: block;
  margin: 5px 5px 10px 5px;
  min-height: 120px;
  overflow: hidden;
  position: relative;
  width: auto;
  border-radius: 5px;
}

.top-navigation .ng-wizard-main .nav > li > a {
  display: block;
  width: auto;
  margin: 0 0.5em 0.5em;
  padding: 8px;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  font-weight: normal;

  background: #eee;
  color: #aaa;
  cursor: default;
}

.top-navigation .ng-wizard-main .nav > li > a:hover,
.top-navigation .ng-wizard-main .nav > li > a:active,
.top-navigation .ng-wizard-main .nav > li > a:focus {
  background: #eee;
  color: #aaa;
}

.top-navigation .ng-wizard-main .nav > li.active > a {
  background: #1ab394;
  color: #fff;
  cursor: default;
  border: none;
}

.top-navigation .ng-wizard-main .nav > li.active > a:hover {
  border: none;
}

.btn-group.ng-wizard-btn-group-extra .btn {
  border-radius: 3px !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary.active:focus {
  background-color: #18a689 !important;
  border-color: #18a689 !important;
  color: #ffffff !important;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.our-control-label {
  text-align: left;
  padding-left: 40px;
}

.show-errors .invalid-label{
  background-color: rgba(237, 85, 101, 0.1);
}

.invalid-value {
  color: #ed5565;
}

.show-errors .ng-invalid {
  border-color: #ed5565;
}

.show-errors .ng-invalid.ng-inn-invalid {
  border-color: #ed5565 !important;
}

.show-errors .ng-invalid .ng-select-container {
  border-color: #ed5565;
}

.show-errors .ng-invalid .form-control,
.show-errors .ng-invalid .input-group-btn .btn {
  border-color: #ed5565;
}

.show-errors {
  tr.items-error {
    background-color: #f8ac59 !important;
    color: #ffffff;
  }
}
tr.items-default {
  background-color: #f3f3f4;
}

.table-borderless.table > thead > tr > th,
.table-borderless.table > tbody > tr > th,
.table-borderless.table > tfoot > tr > th,
.table-borderless.table > thead > tr > td,
.table-borderless.table > tbody > tr > td,
.table-borderless.table > tfoot > tr > td {
  border: none;
}

.bold-row {
  font-weight: bold;
}
